.m__team-tabs {
  display: none;
  margin-bottom: 50px;
  padding: 8px 50px;
  justify-content: space-between;
  background-color: $_white;

  @include media($desktop) {
    display: flex;
  }

  &-category {
    font-family: $font_secondary;
    font-size: 12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    cursor: pointer;

    &.active {
      color: $_brand_secondary;
      font-weight: bold;
    }    
  }
}

.m__team-tabs-mobile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  min-width: 187px;
  text-align: center;

  @include media($desktop) {
    display: none;
  }

  &-select-icon {
    display: none;
  }

  .selectric-m__team-tabs-mobile-select {
    min-width: 175px;
  }
}