@keyframes slide-down {
  0% { 
    opacity: 0; 
    transform: translateY(-100%); 
  }   

  100% { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.m__search-input {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $search_bg_mobile;
  z-index: 4;

  @include media($desktop) {
    background-color: $search_bg_desktop;
  }

  &.active {
    display: block;
    animation: slide-down .3s ease-out;
  }

  .container {
    position: relative;
    margin-top: 121px;
  }

  input[type=text] {
    margin-top: 77px;
    padding: 37px 0;
    width: 100%;
    letter-spacing: 0.8px;
    line-height: 1.28;
    font-family: $font;
    font-weight: 800;
    font-size: 36px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: $search_text_mobile;
    background-color: $search_bg_mobile;
    color: $search_text_mobile;
    outline: none;

    @include media($desktop) {
      margin-left: 100px;
      width: 390px;
      font-size: 50px;
      border-color: $search_text_desktop;
      background-color: $search_bg_desktop;
      color: $search_text_desktop;
    }
  }

  input[type=submit] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

    @include media($desktop) {
      margin-left: 420px;
    }
  }
}

.search-close-button {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 1;

  @include media($desktop) {
    top: 60px;
    right: 60px;
    opacity: 0.8;
  }
}