.m__search-form {
  position: relative;
  margin-top: 30px;  
  min-width: 269px;

  @include media($tablet) {
    margin-top: 0;
    margin-left: 30px;
  }

  @include media($desktop) {
    margin-left: 80px;
    min-width: 307px;
  }

  &-input {
    padding: 8px 50px 8px 21px;
    width: 100%;
    text-align: right;
  }

  &.focused {
    text-align: left;
  }

  .a__btn__search {
    position: absolute;
    top: 0;
    right: 0;
  }
}