.m__icon-search {
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 3;  

  @include media($desktop) {
    margin-top: -8px;
    z-index: 1;
  }

  &.active {
    .search-icon-blue-hover {
      display: block;
    }

    .search-icon-gray {
      display: none;
    }
  }

  .search-icon-blue-hover {
    display: none;
  }

  svg {
    display: block;
    height: 18px;
    width: 19px;
  }
}