.m__team-modal {
  display: none;
  position: relative;
  padding: 65px 20px 50px 20px;
  width: 100%;
  background-color: $_white;
  box-shadow: -3px 6px 27px 0 rgba($_gray, 0.5);    
  z-index: 5;

  @include media($desktop) {
    padding: 65px 80px 100px 65px;
    width: 792px;
  }

  &--activate {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    @include media($tablet) {
      position: fixed;
      top: 50%;
      left: 50%;
      bottom: auto;
      transform: translate(-50%, -50%);      
      overflow-y: auto;
    }
  }

  &-mask {
    display: none;

    @include media($tablet) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $_charcoal;
      opacity: 0.45;   
      z-index: 5;
    }

    &--activate {
      @include media($tablet) {
        display: block;   
      }
    }
  }

  &-close {
    position: absolute;
    top: 31px;
    right: 25px;
    border: none;
    background-color: transparent;

    @include media($tablet) {
      right: 33px;
    }

    &-icon {
      max-width: 25px;
      max-height: 25px;      
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;

    @include media($tablet) {
      flex-direction: row;
      text-align: left;
    }
  }

  &-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;

    @include media($tablet) {
      margin-left: 0;
      margin-right: initial;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;

    @include media($tablet) {
      margin-left: 55px;
    }
  }

  &-name {
    margin-top: 25px;
    margin-bottom: 12px;
    font-family: $font;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.42;
    letter-spacing: 0.5px;
    color: $_brand_primary;    
  }

  &-title {
    margin-bottom: 5px;
    font-family: $font_secondary;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.5px;
    color: $_brand_primary;    

    @include media($tablet) {
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.6px;
    }
  }

  &-department {
    margin: 0;
    font-family: $font_secondary;
    font-size: 14px;
    font-style: italic;
    line-height: 1.43;
    letter-spacing: 0.2px;
  }

  &-info-footer {
    display: flex;
    margin-top: 29px;
    align-items: center;
    justify-content: center;

    @include media($tablet) {
      margin-top: auto;
      margin-bottom: 15px;
      justify-content: flex-start;
    }
  }

  &-email-icon {
    margin-top: auto;
    margin-right: 20px;
    max-width: 25px;
    max-height: 16px;
  }

  &-linkedin-icon {
    max-width: 25px; 
    max-height: 25px; 
  }

  &-bio {
    font-family: $font_secondary;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.5px;
    text-align: center;
    color: $_navy-dark2;    

    @include media($tablet) {
      text-align: justify;
    }
  }
}