@keyframes showBoxEase {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.o__transactions {
  padding-top: 50px;
  padding-bottom: 70px; 
  min-height: 1643px;
  text-align: center;

  @include media($tablet) {
    padding-top: 80px;
  }

  &--loaded {
    min-height: auto;
  }  

  &-container {
    @include grid-cards();
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    max-width: 792px;
    opacity: 1;

    @include media($tablet) {
      padding-top: 66px;
    }
  }

  &-filters {
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;

    &-by-year {
      margin-right: 42px;
    }    

    &-by-sector,
    &-by-year {
      position: absolute;
      left: -100%;
    }

    &-icon {
      display: none;
    }
  }

  .selectric-o__transactions-filters-by-year {
    margin-bottom: 30px;
    width: 172px;

    @include media($tablet) {
      margin-bottom: 0;
      width: 160px;
    }
  }

  .selectric-o__transactions-filters-by-sector {
    min-width: 172px;
  }

  .m__content {
    padding-left: 20px;
    padding-right: 20px;    
    text-align: center;
  }

  .m__transactions-highlights-box {
    @include grid-card-element();
    margin-bottom: 20px;
    width: 252px;
    box-shadow: -3px 6px 27px 0 $_transactions_highlights_shadow;
    animation: showBoxEase 1s forwards;
  }

  .a__btn {
    display: none;
    margin-top: 80px;

    &.active {
      display: inline-block;
    }
  }
}