.o__team {
  padding-top: 25px;
  padding-bottom: 100px;

  @include media($tablet) {
    padding-top: 80px; 
  }

  &-boxes {
    margin-left: auto;
    margin-right: auto;
    max-width: 792px;

    &-category {
      @include grid-cards();

      &-hidden {
        display: none;
      }
    }
  }

  &-button-container {
    display: flex;
    justify-content: center;
  }

  .m__content-title {
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.12;
    letter-spacing: 1.7px;
  }

  .m__content-content {
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 0.6px;
    font-size: 20px;
    line-height: 1.5;

    @include media($tablet) {
      font-size: 16px;
      line-height: 1.62;
    }
  }

  .a__btn {
    display: none;
    margin-top: 50px;

    &--activate {
      display: block;
    }
  }

  &--blue {
    background-color: $_brand_primary;

    .m__content-title,
    .m__content-content {
      color: $_light-gray;
    }

    .m__team-box {
      box-shadow: none;
    }
  }

  .loader {
    padding-top: 50px;
    padding-bottom: 250px;

    @include media($tablet) {
      padding-bottom: 850px;
    }
  }

  &--gray {
    background-color: $_light-gray;
  }

  &--white {
    background-color: $_white;
  }  
}