.o__awards {
  padding: 100px 0 40px 0;
  background-color: $_white;
  text-align: center;

  @include media($tablet) {
    padding: 80px 0 60px 0;
  }

  .container {
    max-width: 850px;
  }

  &-boxes {
    display: flex;
    opacity: 0;
    transition: opacity .5s ease;      
  }

  .m__content-title {
    margin-bottom: 50px;
  }

  &-slider-nav-icon {
    display: none;
  }

  .a__btn {
    margin-top: 23px;
  }

  .owl-stage {
    display: flex;
  }

  .owl-stage-outer {
    padding: 27px 0;
  }

  .owl-loaded,
  .no-carousel {
    opacity: 1;
  }

  .no-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include media($tablet) {
      flex-direction: row;
    }

    .m__award-box {
      margin-left: 9px;
      margin-right: 9px;
      margin-bottom: 27px;
      width: 252px;
      box-shadow: -3px 6px 27px 0 $_gray;
    }
  }

  .owl-item {
    display: flex;
    justify-content: center;
    box-shadow: -3px 6px 27px 0 $_gray;
    backface-visibility: visible;
    transform: translateZ(0) scale(1.0, 1.0);
    opacity: 0;
    transition: opacity .5s ease;

    @include media($tablet) {
      box-shadow: none;
    }

    &.active {
      opacity: 1;

      @include media($tablet) {
        box-shadow: -3px 6px 27px 0 $_gray;
      }
    }

    .m__transactions-highlights-box {
      height: 100%;
    }
  }

  .owl-prev,
  .owl-next {
    display: none;
    position: absolute;
    top: 45%;

    @include media($tablet) {
      display: block;
    }

    svg {
      width: 12px;
      height: 22px;
    }

    &.disabled {
      opacity: 0.3;
    }
  }

  .owl-prev {
    transform: rotate(180deg);
    left: -16px;
  }

  .owl-next {
    right: -8px;
  }

  .owl-dots {
    margin-top: 10px;

    @include media($tablet) {
      display: none;
    }
  }

  &--blue {
    background-color: $_brand_primary;

    .owl-item,
    .owl-item.active,
    .no-carousel .m__award-box {
      box-shadow: none;
    }
  }

  &--gray {
    background-color: $_light-gray; 

    .owl-item,
    .owl-item.active,
    .no-carousel .m__award-box {
      box-shadow: none;
    }
  }

  &--white {
    background-color: $_white; 
  }  
}