body {
  color: $_brand_primary;
  font-variant-ligatures: no-common-ligatures;
  font-feature-settings: 'liga' 0, 'clig' 0;
}

p {
  font-family: $font_secondary;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.5px;  
  color: $_brand_primary;
}

.a__text {
  &--align-left {
    text-align: left;
  }
}

@mixin editor_styles() {
  margin-top: 30px;
  padding-right: 10px;
  font-family: $font_secondary;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.5px;
  text-align: justify;
  color: $_navy-dark2;

  @include media($desktop) {
    padding-right: 0;
  }

  p {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  a {
    text-decoration: underline;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
    line-height: 1.42;
    letter-spacing: 0.5px;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  ul,
  ol {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
  }

  li {
    margin-top: 20px;
    margin-bottom: 20px;      
  }

  .content-small {
    display: block;
    font-family: $font_secondary;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: $_black2;  
  } 
}