h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.12;
  letter-spacing: 1.7px;
  color: $headings;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: $font;
  line-height: 1.12;
  letter-spacing: 1.7px;
  color: $headings;

  @include media($tablet) {
    font-size: 50px;
  }
}

h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: $font;
  line-height: 1.2;
  color: $headings;

  @include media($tablet) {
    font-size: 24px;
  }  
}

h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3;
  color: $headings;
}

h5 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  color: $headings;
}

h6 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  color: $headings;
}
