.m__content {
  text-align: center;

  @include media($tablet) {
    text-align: left;
  }

  &--centered {
    @include media($tablet) {
      text-align: center;
    }    

    .m__content-content {
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 40px;
      max-width: 630px;
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.22;
    letter-spacing: 1.3px;

    @include media($tablet) {
      margin-bottom: 20px;
      line-height: 1.28;
      letter-spacing: 1px;
    }
  }

  &-content {
    font-family: $font_secondary;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.5px;

    @include media($tablet) {
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.2px;
    }
  }

  &--light {
    .m__content-title {
      color: $_content_title_light;
    }

    .m__content-content {
      color: $_content_text_light;
    }
  }

  &--dark {
    .m__content-title {
      color: $_content_title_dark;
    }

    .m__content-content {
      color: $_content_text_dark;
    }    
  }
}