.o__quote {

  &-quote-container {
    display: flex;
    flex-direction: column;
    background-color: $_brand_primary;

    @include media($tablet) {
      flex-direction: row;
    }

    &:nth-child(even) {
      background-color: $_white;

      .o__quote-text {
        color: $_brand_primary;
      }
    }

    &:nth-child(3n) {
      background-color: $_brand_tertiary;   
    }  

    &:nth-child(even) {
      .o__quote-image-box {
        @include media($tablet) {
          order: 1;
          justify-content: flex-start;
        }
      }

      .o__quote-image-caption {
        @include media($tablet) {
          padding-left: 13%;
          padding-right: 31%;
        }        
      }     

      .o__quote-text {   

        @include media($tablet) {
          padding-left: 25.46%;
          padding-right: 13.9%;
        }
      }     

      .o__quote-text-box {
        order: 0;
      }        
    }    
  }

  &-image-box {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include media($tablet) {
      width: 50%;
    }    
  }

  &-image-container {
    margin: 0;
    position: relative; 
    height: 210px;
    width: 100%;
    background-size: cover;

    @include media($tablet) {
      height: 360px;
    }
  }

  &-image-caption {
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    width: 100%;
    font-family: $font_secondary;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: $_white;    
    background-color: rgba($_charcoal, 0.5);

    @include media($tablet) {
      padding-left: 25.46%;
      padding-right: 13.9%;   
    } 
  }

  &-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include media($tablet) {
      width: 50%;
    }
  }

  &-text {
    margin-right: auto;
    padding: 60px 20px;
    font-family: $font;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: $_white;

    @include media($tablet) {
      padding-right: 12.5%;  
      padding-left: 10.93%;  
      padding-top: 0;
      padding-bottom: 0;
    }

    @include media($desktop) {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.42;
      letter-spacing: 0.5px;
      color: $_light-gray;      
    }

    &--odd {
      @include media($desktop) { 
        padding-right: 30%;
      }
    }    
  }

  &-text-line {
    margin-top: 20px;
    width: 48px;
    height: 2px;
    background-color: $_brand_secondary;
  }
}