
/*************************************************************************
/* COLOR DEFINITIONS
/*
/* Put color names here
/* Do not use these variables anywhere else except this file!
/* The should all start with $_
/*************************************************************************/

// Brand Colors (don't change the variable names)
$_brand_primary: #002E45;
$_brand_secondary: #42B8FB;
$_brand_tertiary: #FF533D;

// Neutral Colors (use the color name from Zeplin or http://www.color-hex.com/ as the variable name)
$_black: #000000;
$_black2: #001824;
$_white: #FFFFFF;
$_gray_24: #3D3D3D;
$_gray_mid: #686C71;
$_gray_mid2: #8A8C8D;
$_white_smoke: #F8F8F8;
$_light-grey: #F3F5F5;
$_light-gray: #F5F5F5;
$_light-gray2: #F9F9F9;
$_light-gray3: #E6E6E6;
$_light-gray4: #B7B7B7;
$_light-gray5: #D7D7D7;
$_dark-grey: #232729;
$_cerulean-nyl: rgba(0, 121, 194, 0.99);
$_charcoal: #191D1E;
$_gray: #CCCCCC;
$_navy-dark: #001F30;
$_navy-dark2: #022F40;
$_navy-light: #66828F;
$_gray-blue: #7A8C94;

// Utility Colors (don't change the variable names, but you can add/delete if needed)
$_error: #E20D0D;
$_positive: #2DCC70;
$_neutral: #1397E1;

/*************************************************************************
/* COLOR USAGES
/*
/* Put color usages here and assign them a color from above
/* You can use these variables anywhere else
/*************************************************************************/

// Defaults
$text: $_brand_primary;
$headings: $_brand_primary;
$heading: $_gray_24;
$background: $_white;
$opposite_bg: $_gray_24;
$caption_text: $_gray_mid;

// Blockquote
$blockquote_text: $_gray_mid;

// HR
$hr: $_gray_mid;

// Header
$header_bg: $_white;
$header_text: $text;
$header_border: $_gray_mid;

// Separator 
$_separator_bg_blue: $_brand_secondary;
$_separator_bg_red: $_brand_tertiary;

// Footer Top
$footer_bg: $_charcoal;
$footer_bg_right: $_brand_primary;
$footer_title: $_light-gray;
$footer_text: $_white;

// Footer Bottom
$footer_bottom_bg: $_white;
$footer_bottom_text: $_brand_primary;
$footer_bottom_separator: $_light-gray;

// Menu
$menu_item: $text;
$menu_item_current: $_black;
$menu_hamburger: $_brand_primary;

// Links
$link: $_brand_primary;
$link_hover: $_brand_secondary;
$link_active: $_brand_secondary;

// Nav
$nav_link: $_brand_primary;
$nav_hover: $_brand_primary;
$pagination_active: $nav_link;
$pagination_inactive: $_gray_mid;
$pagination_hover: $nav_hover;
$pagination_separator: $pagination_inactive;

// Button: Primary
$button_primary_text: $_white;
$button_primary_bg: transparent;
$button_primary_text_hover: $_dark-grey;
$button_primary_bg_hover: $_white;
$button_primary_text_active: $_dark-grey;
$button_primary_bg_active: $_white;
$button_primary_text_disabled: $_white;
$button_primary_bg_disabled: $_gray_mid;

// Button: Secondary
$button_secondary: $_brand_secondary;
$button_secondary_hover: $_brand_secondary;
$button_secondary_txt_hover: $_white;
$button_secondary_active: $_brand_secondary;
$button_secondary_disabled: $_gray_mid;

// Button: Tertiary
$button_tertiary_text: $_white;
$button_tertiary_hover: $_gray_mid;
$button_tertiary_active: $_gray_mid;
$button_tertiary_disabled: $_gray_mid;

// Button: Text
$button_text: $_brand_secondary;
$button_text_hover: $_brand_tertiary;
$button_text_active: $_brand_primary;
$button_text_disabled: $_gray_mid;

// Forms
$form_error: $_error;
$form_feedback: $_neutral;
$form_success: $_positive;
$form_input_border: $_gray_mid;

// Images
$img_avatar_bg: $_white_smoke;

//Search
$search_active: $_brand_primary;
$search_disable: $_gray_mid;
$search_bg_mobile: $_navy-dark;
$search_bg_desktop: $_dark-grey;
$search_text_mobile: $_gray-blue;
$search_text_desktop: $_gray_mid2;

//Results page
$results_line: $_brand_secondary;

//Hero
$_hero_box_text: $_light-gray;
$_hero_box_text_content: $_white;
$_hero_box_bg: $_brand_primary;
$_hero_box_bg_alternate: $_brand_tertiary;

//Copy block
$_copy_block_bg_blue: $_brand_primary;
$_copy_block_bg_white: $_white;
$_copy_block_bg_gray: $_light-gray;

//Content
$_content_title_light: $_light-gray;
$_content_text_light: $_white;
$_content_title_dark: $_brand_primary;
$_content_text_dark: $_brand_primary;

//Link
$_link_title: $_light-gray;
$_link_title_dark: $_brand_primary;

//Attributes Module
$_attributes_bg_blue: $_brand_primary;
$_attributes_bg_gray: $_light-gray;
$_attributes_bg_white: $_white;
$_attributes_box_bg: $_white;
$_attributes_box_title: $_brand_primary;
$_attributes_box_border: $_brand_tertiary;

//Buttons Row Module
$_buttons_row_bg_blue: $_brand_primary;
$_buttons_row_bg_white: $_white;
$_buttons_row_bg_gray: $_light-gray;

//Facts & Figures Module
$_facts_figures_bg_blue: $_brand_primary;
$_facts_figures_bg_white: $_white;
$_facts_figures_bg_gray: $_light-gray;
$_facts_figures_title_bg: $_dark-grey;
$_facts_figures_title: $_white;
$_facts_figures_box_text: $_brand_primary;
$_facts_figures_boxes_bg: $_white;
$_facts_figures_box_bg: $_light-gray;
$_facts_figures_box_line: $_brand_tertiary;

// Transactions Highlights Module
$_transactions_highlights_text: $_brand_primary;
$_transactions_highlights_bg: $_white;
$_transactions_highlights_shadow: $_gray;
$_transactions_highlights_separator: $_brand_secondary;

// Description Module
$_description_text: $_white;
$_description_bg_blue: $_brand_primary;
$_description_bg_red: $_brand_tertiary;
$_description_bg_gray: $_light-gray;
$_description_bg_white: $_white;

// Capabilities Teaser Module
$_capabilities_teaser_line: $_brand_secondary;
$_capabilities_teaser_bg_white: $_white;
$_capabilities_teaser_bg_gray: $_light-gray;
$_capabilities_teaser_bg_blue: $_brand_primary;

// Verticals Teaser Module
$_verticals_teaser_bg_white: $_white;
$_verticals_teaser_bg_gray: $_light-gray;
$_verticals_teaser_bg_blue: $_brand_primary;
$_verticals_teaser_title_bg: $_brand_primary;
$_verticals_teaser_title_text: $_white;
$_verticals_teaser_links_bg: $_light-gray;

// Menu Module
$_menu_text: $_white;
$_menu_bg_white: $_white;
$_menu_bg_gray: $_light-gray;
$_menu_bg_blue: $_brand_primary;
$_menu_bg_red: $_brand_tertiary;
$_menu_link_line: $_white;

// Media & Insights Highlight Module
$_media_insights_highlight_text_white: $_white;
$_media_insights_highlight_bg_white: $_white;
$_media_insights_highlight_bg_gray: $_light-gray;
$_media_insights_highlight_bg_blue: $_brand_primary;

// History Timeline
$_history_timeline_text_gray: $_light-gray;
$_history_timeline_text_white: $_white;
$_history_timeline_line: $_brand_tertiary;
$_history_timeline_point: $_brand_secondary;
$_history_timeline_bg_content: $_navy-dark;
$_history_timeline_bg_white: $_white;
$_history_timeline_bg_gray: $_light-gray;
$_history_timeline_bg_blue: $_brand_primary;