.o__page {
  margin-left: auto;
  margin-right: auto;  
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 631px;

  @include media($desktop) {
    padding-top: 141px;
    padding-bottom: 197px;
  }

  .m__content {
    &-title {
      margin-bottom: 50px;

      &.fade {
        transition: none;
      }
    }
  }

  &-content {
    @include editor_styles();
  }

  .a__btn__back {
    margin-top: -22px;
    position: relative;
    top: -45px;

    @include media($desktop) {
      left: -145px;
    }
  }  
}