.loader {
  display: none;
  justify-content: center;
  margin-top: 40px;
  padding: 20px 0;
  flex: 1 0 100%;

  &--active {
    display: flex;
  }

  &-animation {
    border: 5px solid $_light-gray3;
    border-radius: 100%;
    width: 56px;
    height: 56px;
    position: relative;

    &:after {
      display: inline-block;
      position: absolute;
      top: -5px;
      left: -5px;      
      width: 56px;
      height: 56px;      
      content: '';
      border: 5px solid $_brand_secondary;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-radius: 100%;
      transform: rotate(45deg);
      animation:  1s linear rotate infinite;
      will-change: transform;
    }
  }  
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}