.page-slug-about {
  .o__description {
    @include media($tablet) {
      padding-top: 80px;
      padding-bottom: 0;
    }
  }

  .o__menu {
    @include media($tablet) {
      padding-top: 0;
      padding-bottom: 100px;
    }
  }
}