.search-section {
  padding-top: 50px;
  padding-bottom: 100px;

  &-title {
    margin: 0;
    font-family: $font;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.12;
    letter-spacing: 1.7px;

    @include media($tablet) {
      font-size: 50px;
    }
  }

  &-subtitle {
    margin-bottom: 50px;
    font-family: $font_secondary;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;
  }
}

.result-item {
  padding: 30px 11px;
  border-top: 2px solid $results_line;

  @include media($tablet) {
    padding-right: 230px;
  }

  &:last-child {
    border-bottom: 2px solid $results_line;
  }

  &-title {
    font-family: $font;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.42;
    letter-spacing: 0.5px;
  }

  &-excerpt {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
  }
}

.search-footer {
  padding: 40px 0;
}