form {
  ol, ul {
    list-style: none;
    margin-left: 0;
  }
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

label {
  display: block;
}

button, input, select, textarea {
  margin: 0 1px 0;
  font-family: inherit;
  font-size: 100%;
}

input, textarea {
  padding: 16px 21px;
  background-color: transparent;
  color: $_brand_primary;
  border: 2px solid $_light-gray5;
  border-radius: 7px;
  font-family: $font_secondary;
  font-size: 12px;
  letter-spacing: 0.8px;
}

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}