.gform_wrapper {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;    
}

.gform_heading {
  margin-top: 20px;
  margin-bottom: 48.8px;
  text-align: center; 
}

.gform_description {
  font-family: $font_secondary;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.6px; 
}

.gform_body {
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;  
}

.gform_footer {
  padding-top: 30px;
  text-align: center;
}

.gfield {
  margin-bottom: 30px;

  @include media($tablet) {
    padding-left: 20px;
    padding-right: 20px;  
  }

  &.two-col {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0;

    @include media($mobile_m) {
      width: 50%;
    }

    @include media($tablet) {
      padding-left: 20px;
      padding-right: 20px;      
    }
  }

  &.align-left {
    text-align: center;

    @include media($mobile_m) {
      text-align: right;
    }

    @include media($tablet) {
      text-align: left;
    }

    .gform_input_file_selected {
      text-align: center;

      @include media($mobile_m) {
        text-align: right;
      }

      @include media($tablet) {
        text-align: left;
      }
    }

    .validation_message {
      text-align: center;

      @include media($mobile_l) {
        text-align: right;
      }

      @include media($tablet) {
        text-align: left;
      }
    }      
  }

  &.align-right {
    @include media($mobile_m) {
      text-align: left;
    }

    @include media($tablet) {
      text-align: right;
    }

    .ginput_container_fileupload {
      @include media($tablet) {
        padding-left: 36%; 
        text-align: left;
      }           
    }    

    .gform_input_file_selected {
      text-align: center;

      @include media($mobile_m) {
        text-align: left;
      }
    } 

    .validation_message {
      text-align: center;

      @include media($mobile_l) {
        text-align: left;
      }

      @include media($tablet) {
        text-align: right;
      }
    }       
  }
}

.ginput_container_text,
.ginput_container_email,
.ginput_container_address,
.ginput_container_phone,
.ginput_container_textarea {
  input,
  textarea {
    width: 100%;
    -webkit-appearance: none;
  }
}

.ginput_container_textarea {
  textarea {
    min-height: 289px;
  }
}

.ginput_container_fileupload {
  margin-top: 20px;

  input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;    
  }

  .gform_input_file_label {
    @include btn();
    @include btn--secondary();
    text-transform: unset;
    cursor: pointer;
    padding: 10.5px 10px;
  }

  input[type=file]:focus ~ .gform_input_file_label,
  .gform_input_file_label:hover {
    color: $button_secondary_txt_hover;
    border-color: $button_secondary_hover;
    background-color: $button_secondary_hover;
  }  

  .ginput_preview {
    display: none;
  }
}

.gform_input_file_selected {
  margin-top: 10px;
  padding: 0 22px;
  font-family: $font_secondary;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-align: left;

  &.file-selected {
    padding: 0;
  }
}

.gform_fields {
  padding: 0;
}

.gfield_checkbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  @include media($mobile_l) {
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
  }

  li {
    display: flex;
    margin-bottom: 30px;

    input {
      display: none;

      &:checked + label:before {
        background: url( '../icons/close-button-blue.svg' ) center center no-repeat;
        background-size: contain;
        font-size: 20px;
        color: $_brand_secondary;
        box-shadow: inset 0 0 0 2px $_brand_secondary;
      }
    }

    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 32px;
      margin-right: 15px;
      font-family: $font_secondary;
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 22px;

      &:before {
        display: inline-block;
        content: '';
        width: 22px;
        height: 22px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        box-shadow: inset 0 0 0 2px $_light-gray5;        
        border-radius: 3px;
      }
    }
  }
}

.gfield_description,
.gfield_html {
  margin-top: 18px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  text-align: center;
  font-family: $font_secondary;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: center;
  color: $_brand_primary;  
}

.field_description_above {
  .gfield_description {
    margin-top: 50px;
    margin-bottom: 30px;

    &.validation_message {
      margin-top: 10px;
      margin-bottom: 0;      
    }
  }
}

.gform_ajax_spinner {
  margin-left: 20px;
}

.validation_message,
.validation_error {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: initial;
  font-size: 12px;
  text-align: left;
  color: $_brand_tertiary;
}

.validation_error {
  margin-bottom: 30px;
  font-size: 16px;
  text-align: center;

  @include media($tablet) {
    padding-left: 20px;
    padding-right: 20px;    
  }
}

.gfield_error {
  input {
    border-color: $_brand_tertiary;
  }

  .ginput_container_fileupload {
    .gform_input_file_selected {
      color: $_brand_tertiary;
    }
  }

  &.two-col {
    .validation_message {
      padding: 0 10px;
    }
  }
}

.gfield_label,
.ginput_container_address label {
  display: none;
}

.gform_button {
  @include btn();
  @include btn--secondary();
  display: inline;
}

.gform_form_submitted {
  .m__content-title {
    display: none;
  } 

  .a__btn__back {
    display: none;
  }
}

.gform_confirmation_wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  max-width: 480px;
  text-align: center;
  font-family: $font_secondary;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.5px;  

  @include media($tablet) {
    padding-bottom: 200px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.6px;      
  }

  h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $font;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.11;
    letter-spacing: 1.2px;

    @include media($tablet) {
      font-size: 50px;
      line-height: 1.12;
      letter-spacing: 1.7px;
    }
  }
}