// sass-lint:disable-all
$selectric-main-color:      $_brand_secondary;                      // Color used in border
$selectric-text-color:      $_brand_primary;                                   // Color used in label
$selectric-bg-color:        $_white;                                           // Background color
$selectric-height:          35px;                                              // Outer height
$selectric-spacing:         10px;                                              // Label left padding
$selectric-border-width:    2px;                                               // Outer border width
$selectric-inner-height:    $selectric-height - ($selectric-border-width * 2); // Inner height

.selectric-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  position: relative;
  border: $selectric-border-width solid $_light-gray;
  background: $selectric-bg-color;

  .label {
    display: block;
    margin: 0 $selectric-inner-height 0 $selectric-spacing;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-align: left;
    line-height: $selectric-inner-height;
    color: $selectric-text-color;
    font-family: $font_secondary;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.8px;
    height: $selectric-inner-height;
    user-select: none;
  }

  .button {
    display: none;
  }

  svg {
    position: absolute;
    right: 7px;
    top: 7px;
    max-width: 20px;
    max-height: 20px;
    transform: rotate(90deg);
    -moz-transform: rotate(45deg);
    transform-origin: center;    
  }
}

.selectric-open {
  z-index: 1;

  .selectric {
    border-bottom: 2px solid $selectric-main-color;
    background-color: $_white;
  }

  .selectric-items {
    display: block;

    li {
      &:first-child {
        display: none;
      }
    }
  }
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  margin: 0 !important;
  padding: 0 !important;  
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 1px !important;
  height: 1px !important;  
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  outline: none !important;
  border: none !important;
  font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  display: block !important;
  visibility: hidden !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: $selectric-bg-color;
  z-index: -1;
  box-shadow: 0 2px 4px 0 rgba($_light-gray4, 0.5);
  outline: none;
  z-index: 1;

  .selectric-scroll {
    padding: 8px 0;
    height: 100%;
    overflow: auto;
  }

  .selectric-above & {
    top: auto;
    bottom: 100%;
  }

  ul, li {
    margin: 0;  
    padding: 0;
    list-style: none;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 20px;
    min-height: 20px;
  }

  li {
    display: block;
    padding: 8px 10px;
    color: $selectric-text-color;
    background: $selectric-bg-color;
    text-align: left;
    font-family: $font_secondary;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.2px;
    cursor: pointer;

    &.highlighted {
      color: $_brand_secondary;
    }
  }
}
// scss-lint:enable-all