.m__process-step {
  padding: 20px 15px 15px 15px;
  min-height: 100%;
  background-color: $_light-gray;

  @include media($tablet) {
    padding: 40px 35px 35px 35px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media($desktop) {
    padding: 0;
    max-width: auto;
    background-color: transparent;
  }

  &-header {
    display: flex;
    align-items: baseline;
    flex-direction: column;

    @include media($desktop) {
      flex-direction: row;
    }
  }

  &-icon-wrapper {
    margin-left: 5px;
    margin-bottom: 20px;
    max-width: 36px;
    max-height: 46px;

    @include media($desktop) {
      margin-bottom: 0;
      margin-right: 25px;
      margin-left: 0;
    }
  }

  &-title {
    margin: 0 0 20px 0;
    font-family: $font;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.42;
    letter-spacing: 0.5px;
    
    @include media($desktop) {
      margin-bottom: 0;
      font-size: 36px;
      font-weight: 800;
      line-height: 1.28;
      letter-spacing: 1px;      
    }
  }

  &-description {
    margin-top: 15px;
    margin-bottom: 0;
    font-family: $font_secondary;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.5px;
    text-align: justify;
  }   

  &--blue {
    .m__process-menu-step-title,
    .m__process-step-title,
    .m__process-step-description {
      color: $_white;
    }    
  } 
}