.o__attributes {
  padding: 22.5px 0 52px 0;
  text-align: center;

  @include media($tablet) {
    padding: 55px 0;
  }

  &-title {
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 1.7px;
    text-align: center;

    @include media($tablet) {
      margin-bottom: 50px;
      padding: 0;
      font-size: 50px;
    }

    &--with-intro {
      margin-bottom: 15px;

      @include media($tablet) {
        margin-bottom: 29px;
      }
    }
  }

  &-introduction {
    margin: 0 auto 50px auto;
    padding-left: 20px;
    padding-right: 20px;    
    max-width: 665px;
    font-family: $font_secondary;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.5px;
    text-align: center;      

    @include media($tablet) {
      margin-bottom: 40px;
      padding-left: 0;
      padding-right: 0;      
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.6px;      
    }    
  }

  &-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

    @include media($tablet) {
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
    }

    @include media($desktop) {
      max-width: 100%;
    }

    &--count-3 {
      margin-left: auto;
      margin-right: auto;
      max-width: 794px;
    }

    &--count-2 {
      margin-left: auto;
      margin-right: auto;      
      max-width: 600px;
    }
  }

  &-link {
    margin-top: 36px;

    @include media($tablet) {
      margin-top: 111px;
    }
  }

  .owl-stage,
  .owl-item {
    display: flex;
  }

  .owl-dots {
    margin-top: 37px;
  }

  .owl-dot {
    opacity: 0.5;
    background-color: $_attributes_box_bg;

    &.active {
      opacity: 1;
    }
  }

  &--blue {
    background-color: $_attributes_bg_blue;

    .o__attributes-title,
    .o__attributes-introduction {
      color: $_attributes_bg_gray;
    }
  }

  &--gray,
  &--white {
    .m__attributes-box {
      border-top: 2px solid $_attributes_bg_blue;
      border-left: 2px solid $_attributes_bg_blue;
      border-right: 2px solid $_attributes_bg_blue;
    }

    .owl-dot {
      background-color: $_attributes_bg_blue;
    }
  }

  &--gray {
    background-color: $_attributes_bg_gray;
  }

  &--white {
    background-color: $_attributes_bg_white;
  }  
}