.a__separator {
  padding-top: 25px;
  padding-bottom: 20px;

  @include media($tablet) {
    padding-top: 41px;
    padding-bottom: 35px;    
  }

  &-line {
    background-color: $_separator_bg_blue;
    height: 2px;

    &--red {
      background-color: $_separator_bg_red;
    }
  }

  &--section {
    margin-left: auto;
    margin-right: auto;    
    max-width: 100%;

    @include media($tablet) {
      max-width: 790px;
    }
  }

  &--large {
    margin-left: auto;
    margin-right: auto;    
    max-width: 100%;

    @include media($tablet) {
      max-width: 950px;
    }
  }  
}