.o__sectors {
  padding-top: 30px;
  padding-bottom: 100px;
  text-align: center;

  &-box {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
    max-width: 793px;
    background-color: $_light-gray;
    
    @include media($mobile_l) {
      padding: 40px 80px;
      box-shadow: -3px 6px 27px 0 $_gray;
    }

    &--large {
      min-height: 396px;
    }

    &-title {
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: $font;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.42;
      letter-spacing: 0.5px;
      text-align: center;
    }
  }

  &-select-helper {
    margin-top: 10px;
    font-family: $font_secondary;
    font-size: 12px;
    letter-spacing: 0.8px;
    text-align: center;
  }

  &-industry-areas {
    &-list {
      margin-top: 30px;
      padding: 0 0 0 15px;
      animation: showBoxEase .5s forwards;

      @include media($tablet) {
        column-count: 2;
      }
    }
  }

  &-industry-area {
    padding-left: 19px;
    text-indent: -21px;
    font-family: $font_secondary;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.5px;
    text-align: left;
  }

  &-select-icon {
    display: none;
  }

  .selectric-o__sectors-select {
    margin-top: 20px;
    width: 100%;

    @include media($tablet) {
      min-width: 373px;
      width: auto;
    }

    .selectric {
      border-left: none;
      border-right: none;
    }

    .label {
      margin-left: 15px;
      height: 46px;
      line-height: 46px;
      text-transform: none;
    }

    svg {
      top: 15px;
      right: 15px;
    }
  }

  .selectric-items {
    li {
      padding-left: 15px;

      &:first-child {
        display: block;
      }      
    }
  }

  .a__btn {
    display: block;
    margin: 50px auto 0 auto;
    padding: 3px 20px;
    max-width: 145px;

    @include media($mobile_l) {
      display: inline-block;
      margin: 50px 8.5px 0 8.5px;
    }
  }

  .a__btn__file {
    margin-top: 35px;
    padding: 3px 20px 3px 6px;

    @include media($mobile_l) {
      margin-top: 50px;
    }
  }  

  &--blue {
    background-color: $_brand_primary;

    .m__content-title,
    .m__content-content {
      color: $_light-gray;
    }

    .o__sectors-box {
      box-shadow: none;
    }
  }

  &--gray {
    background-color: $_light-gray;
  }

  &--white {
    background-color: $_white;
  }    
}