.o__image-carousel {
  &-slider-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 80px;
    background-color: $_light-gray;

    @include media($desktop) {
      flex-direction: row;
    }
  }

  &-title-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    order: 1;
    width: 100%;
    min-height: 292px;

    @include media($desktop) {
      justify-content: center;
      order: 0;
      width: 40.4%;
      min-height: 100%;
    }

    h2 {
      margin: 50px auto 30px auto;
      max-width: 330px;
      text-align: center;
      font-family: $font;
      font-size: 36px;
      font-weight: 800;
      line-height: 1.11;
      letter-spacing: 1.2px;

      @include media($desktop) {
        font-size: 50px;
        line-height: 1.12;
        letter-spacing: 1.7px;      
      }
    }
  }

  &-slider {
    width: 100%;

    @include media($desktop) {
      width: 57%;
    }
  }

  &-slide {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;

    @include media($tablet) {
      height: 350px;
    }

    @include media($desktop) {
      height: 550px;
    }

    &-caption {
      position: absolute;
      bottom: 0;
      padding: 14px 22px 18px 22px;
      width: 100%;
      background-color: rgba($_charcoal, 0.5);
      font-family: $font_secondary;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      text-align: left;
      color: $_white;

      @include media($desktop) {
        text-align: center;
      }
    }
  }

  &-nav-icon {
    display: none;
  }

  &-description {
    padding-bottom: 80px;
  }

  .m__content-content {
    padding-bottom: 0;
    max-width: 668px;
    letter-spacing: 0.6px;
  }

  .owl-stage {
    display: flex;
  }

  .carousel-custom-dots {
    padding: 0;
  }

  .owl-item {
    backface-visibility: visible;
  }

  .carousel-custom-nav {
    display: flex;
    margin-top: 30px;

    @include media($desktop) {
      margin-top: 50px;
    }
  }

  .owl-prev,
  .owl-next {
    height: 22px;
    cursor: pointer;

    @include media($desktop) {
      display: block;
    }

    svg {
      width: 12px;
      height: 22px;
    }

    &.disabled {
      opacity: 0.3;
    }
  }

  .owl-prev {
    margin-right: 64px;
    transform: rotate(180deg);
  }

  &--blue {
    background-color: $_brand_primary;

    .m__content-title,
    .m__content-content {
      color: $_light-gray;
    }
  }

  &--gray {
    background-color: $_light-gray;
  }

  &--white {
    background-color: $_white;
  }   
}