.fade {
  opacity: 0;
  transform: translateY(9px);
  transition: opacity 1s, transform 1s ease-out;
}

.fade-only {
  opacity: 0;
  transition: opacity 1s;
}

.fade-animation {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s ease-out;
}