.o__media-insights-highlight {
  &-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    max-width: 500px;

    @include media($tablet) {
      justify-content: space-between;
      max-width: 600px;
    }    

    @include media($desktop) {
      max-width: $max-width;
    }    
  }

  &-button {
    padding-bottom: 80px;
    text-align: center;
  }

  &--gray {
    background-color: $_media_insights_highlight_bg_gray;
  }  

  &--white {
    background-color: $_media_insights_highlight_bg_white;
  }  

  &--blue {
    background-color: $_media_insights_highlight_bg_blue;
  }
}