.a__circular-arrow-icon {

  // this media query prevents a weird bug on iOS devices in which the user had to click twice to be redirected.
  @include media($desktop) {
    &:hover,
    &-hover {
      .a__circular-arrow-icon-svg-normal {
        display: none;
      }

      .a__circular-arrow-icon-svg-hover {
        display: inline-block;
      }
    }
  }

  &-svg-hover {
    display: none;
  }

  svg {
    max-width: 30px;
    max-height: 32px;
  }

  &--down {
    svg {
      transform: rotate(90deg);
      -moz-transform: rotate(45deg);
      transform-origin: center;
    }
  }
}