.a__share-icon { 
  // this media query prevents a weird bug on iOS devices in which the user had to click twice to be redirected.
  @include media($desktop) {  
    &:hover {
      .a__share-icon-svg-normal {
        display: none;
      }

      .a__share-icon-svg-hover {
        display: inline-block;
      }
    }   
  }   

  &-svg-hover {
    display: none;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}