//Hamburger
$hamburger-padding-x: 35px;
$hamburger-padding-y: 0;
$hamburger-layer-width: 24px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 3px;
$hamburger-layer-color: $_cerulean-nyl;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 1;
$hamburger-hover-transition-duration: 0.15s;
$hamburger-hover-transition-timing-function: linear;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false;
$hamburger-hover-filter: opacity(50%);
$hamburger-layer-spacing: 3px;

// Types (Remove or comment out what you don’t need)
$hamburger-types: (
  spring
);

@import 'bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss';

.a__hamburger {
  display: block;
  padding: 0;
  margin-left: 35px;
  z-index: 1;

  @include media($desktop) {
    display: none;
  }
}