.o__deal-announcements {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media($tablet) {
    padding-top: 100px;
  }

  &--gray {
    background-color: $_light-gray;
  }  

  &--white {
    background-color: $_white;
  }  

  &--blue {
    background-color: $_brand_primary;
  }  

  .m__content {
    margin-left: auto;
    margin-right: auto;  
    max-width: 630px;
    text-align: center;

    &-title {
      font-size: 30px;

      @include media($mobile_l) {
        font-size: 36px;
      }
    }
  }   
}