.o__hero-lead-in {
  padding-bottom: 50px;

  @include media($tablet) {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .a__separator {
    padding-bottom: 0;
  }

  &-title {
    width: 100%;
    font-family: $font;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.22;
    letter-spacing: 1.3px;    
    color: $_light-gray;
    text-align: center;

    @include media($tablet) {
      font-size: 50px;
      line-height: 1.0;
      letter-spacing: 0.8px;
    }    
  }

  &-subcontainer {
    position: relative;
  }

  &-image {
    @include media($tablet) {
      max-width: 83%;
      min-height: 527px;
    }
  }

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
    margin-bottom: -50px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 330px;
    min-height: 330px;
    color: $_description_text;

    @include media($mobile_l) {
      max-width: inherit;
      width: 440px;  
      height: 430px;
    }

    @include media($tablet) {
      position: absolute;
      bottom: -53px;
      right: 0;
      margin-bottom: auto;
      padding: 25px;
    }

    &--center {
      @include media($tablet) {
        top: 50px;
        max-height: 330px;
      }          

      @include media($desktop) {
        min-height: 430px;
      }      
    }

    &--blue {
      background-color: $_brand_primary;
    }

    &--red {
      background-color: $_brand_tertiary;
    }    
  }

  &-content {
    margin-top: 50px;
    margin-bottom: 40px;  
    padding-left: 20px;
    padding-right: 20px;
    font-family: $font_secondary;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.5px;
    text-align: center;    
    color: $_brand_primary;

    @include media($tablet) {
      margin-left: auto;
      margin-right: auto;        
      margin-top: 106px;
      padding: 0;
      font-size: 20px;
      max-width: 665px;
      line-height: 1.5;
      letter-spacing: 0.6px;      
    }

    &--center {
      margin-top: 50px;
      margin-bottom: 10px;
    }
  }

  &-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  &--blue {
    background-color: $_brand_primary;

    .o__hero-lead-in-content {
      color: $_light-gray;
    }
  }

  &--gray {
    background-color: $_light-gray;
  }

  &--white {
    background-color: $_white;
  }
}