.o__insights {
  padding-bottom: 80px;

  &-posts {
    @include grid-boxes();
    padding-top: 40px;

    &.no-text {
      padding-bottom: 80px;
      justify-content: center;
    }
  }

  &-button-container {
    text-align: center; 
  }

  .m__media-insight-box {
    @include grid-box-element();
  }

  .loader {
    margin-bottom: 50px; 
  }

  .a__separator {
    padding-top: 0;
    padding-bottom: 80px;
  }

  &-view-more-button {
    display: none;

    &.active {
      display: inline-block;
    }
  }

  &--gray {
    background-color: $_light-gray;
  }  

  &--white {
    background-color: $_white;
  }  

  &--blue {
    background-color: $_brand_primary;
  }  

  .m__content {
    &-content {
      padding-top: 10px;
      max-width: 790px;
      letter-spacing: 0.6px;
    }
  }   
}