.o__header {
  position: fixed;
  width: 100%;   
  max-height: 122px;
  background: $header_bg;
  color: $header_text;
  transform: translateY(0);
  transition: transform .2s ease;    
  box-shadow: 0 2px 4px 0 rgba($_light-gray3, 0.5);
  z-index: 5;

  .container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;    
    max-width: $max-width;

    @include media($desktop) {
      padding-top: 37.4px; 
      padding-bottom: 0;
    }
  }

  .logo {
    transform: translateY(0);
    transition: transform .2s ease-out;        
    z-index: 3;

    @include media($desktop) {
      position: absolute;
      left: 41px;
      top: 0; 
      transform: translateY(37.4px);
      z-index: 1; 
    }

    &-link {
      display: block;
      height: 28.2px;

      @include media($desktop) {
        height: 42.6px;
      }      
    }

    img {
      height: 100%;
    }
  }

  nav {
    margin-left: auto;
  }

  .a__hamburger {
    position: relative;
    transform: translateY(0);
    transition: transform .2s ease-out;
    z-index: 5;
  }

  &--shrink {
    position: fixed;
    width: 100%;      
    transform: translateY(-25px);
    transition: transform .2s ease-out;

    @include media($desktop) {
      transform: translateY(-40px);
    }

    .logo {
      transform: translateY(15px);
      transition: transform .2s ease-out;

      @include media($desktop) {
        transform: translateY(60px);
      }
    }

    .menu {
      transition: transform .2s ease-out;    

      @include media($desktop) {
        transform: translateY(10px);
      }
    }

    .sub-menu {
      bottom: 10px;
    }

    .m__icon-search {
      transform: translateY(12px);
      transition: transform .2s ease-out;

      @include media($desktop) {
        transform: translateY(8px);
      }
    }

    .a__hamburger {
      transform: translateY(12px);
      transition: transform .2s ease-out;      
    }
  }  
}

.menu {
  @include media($desktop) {
    transform: translateY(0);
    transition: transform .2s ease;  
  }
}

.m__icon-search {
  transform: translateY(0);
  transition: transform .2s ease;
}