.o__process {
  padding-top: 100px;
  padding-bottom: 100px;

  &-menu-steps {
    display: none;
    padding-top: 30px;
    padding-bottom: 50px;

    @include media($desktop) {
      display: flex;
    }
  }

  &-menu-step {
    display: flex;
    align-items: center;

    &:last-child {
      .o__process-menu-step-arrow {
        display: none;
      }
    }

    &.active {
      .o__process-menu-step-title {
        color: $_brand_secondary;
        font-weight: 900;
        letter-spacing: 0.5px;
      }
    }

    &-title {
      max-width: 110px;
      font-family: $font_secondary;
      font-size: 12px;
      letter-spacing: 0.8px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }

    &-arrow {
      margin-left: 26px;
      margin-right: 26px;
      width: 12px;
      height: 22px;
    }
  }  

  &-steps {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 0 20px;
    max-width: 648px;

    @include media($desktop) {
      padding: 51px 49px 41px 49px;
    }
  }

  &--blue {
    background-color: $_brand_primary;
  }

  &--gray {
    background-color: $_light-gray; 
  }

  &--white {
    background-color: $_white; 
  }

  &-slider-nav-icon {
    svg {
      display: none;
    }
  }  

  .owl-stage {
    display: flex;
  }

  .owl-item {
    display: flex;
    backface-visibility: visible;
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;

    @include media($desktop) {
      top: 30%;
    }

    svg {
      width: 12px;
      height: 22px;
    }

    &.disabled {
      opacity: 0.3;
    }
  }

  .owl-prev {
    transform: rotate(180deg);
    left: -8px;

    @include media($desktop) {
      left: -83px;
    }
  }

  .owl-next {
    right: -8px;

    @include media($desktop) {
      right: -83px;
    }
  }    
}