.m__attributes-box {
  display: flex;
  flex-direction: column;  
  padding: 27px 19px 40px 22px;
  min-width: 240px;
  min-height: 100%;
  background-color: $_attributes_box_bg;
  text-align: center;
  border-bottom: 6px solid $_attributes_box_border;

  @include media($tablet) {
    float: left;
    margin-bottom: 30px;
    margin-right: 2px;
    min-width: 237.25px;
    max-width: 237.25px;
  }

  @include media($desktop) {
    margin-bottom: 0;
    float: left;
  }

  &:last-child {
    @include media($tablet) {
      margin-right: 0;
    }
  }

  &--more-space {
    padding-bottom: 50px;

    .m__attributes-box-icon {
      margin-top: 8px;
      margin-bottom: 22px;
    }

    .m__attributes-box-title {
      margin-bottom: 40px;
    }
  }   

  &--with-icon {
    min-height: 190px;

    .m__attributes-box-title {
      margin-bottom: 10px;
    }
  } 

  &-icon {
    max-height: 60px;
  }

  &-title {
    margin: 18px 0 30px 0;
    line-height: 1.42;
    letter-spacing: 0.5px;
  }

  &-content {
    margin-top: 0;
    margin-bottom: 0;
  }
}