.m__award-box {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 29px;
  min-height: 336px;
  background-color: $_white;
  text-align: center;
  width: 252px;

  &-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;    
    height: 60px;
    max-width: 180px;  
  }  

  &-logo  {
    width: auto !important;
    max-height: 100%;
  }  

  &-year {
    font-family: $font;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.5px;
    text-align: center;
    color: $_brand_primary;
  }

  &-separator {
    margin: 20px auto;
    width: 60%;
    background-color: $_brand_secondary;
    height: 2px;

    @include media($tablet) {
      width: 70%;
    }
  }

  &-copy {
    padding-left: 30px;
    padding-right: 30px;
    font-family: $font_secondary;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    text-align: center;
  }
}