.m__facts-figures-box {
  display: flex;
  flex-direction: column;
  width: 202px;
  border-bottom: 6px solid $_facts_figures_box_line;
  margin-bottom: 30px;

  @include media($tablet) {
    float: left;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include media($desktop) {
    margin-bottom: 0;
  }

  &-head {
    padding: 20px 0;
    text-align: center;
    border: 2px solid $_facts_figures_box_bg;

    span {
      font-family: $font;
      font-size: 50px;
      font-weight: 800;
      line-height: 1.12;
      letter-spacing: 1.7px;
      text-align: center;
      color: $_facts_figures_box_text;
    }
  }

  &-prefix {
    margin-right: -4px;
  }

  &-suffix {
    margin-left: -4px;
  }

  &-content {
    margin: 0;
    padding: 18px 21px;
    flex-grow: 1;
    background-color: $_facts_figures_box_bg;
    font-family: $font;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.5px;
    text-align: center;
  }
}