.m__media-insight-box {
  display: flex;
  margin-bottom: 30px;
  width: 269px;
  min-height: 200px;
  height: 100%;
  background-color: $_media_insights_highlight_bg_white;
  animation: showBoxEase 1s forwards;

  @include media($desktop) {
    margin-bottom: 50px;
    width: 469px;
  }

  &--no-thumbnail {
    @include media($tablet) {
      width: 269px;
    }  
  }

  &-content {
    position: relative;
    width: 100%;

    &-category {
      display: inline-block;
      padding: 7px 25px;
      color: $_media_insights_highlight_text_white;
      font-family: $font_secondary;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.5px;
      text-align: center;
      background-color: $_media_insights_highlight_bg_blue;
    }

    &-subcontainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px 44px 0 15px;
      height: 165px;
    }

    &-title {
      margin-top: 0;
      margin-bottom: 0;
      font-family: $font;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.43;
      letter-spacing: 0.5px;
    }

    &-text {
      margin-top: 5px;
      margin-bottom: 0;
      font-family: $font_secondary;
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 0.2px;
      overflow: hidden;
    }

    &-link {
      position: absolute;
      right: 16px;
      bottom: 5px;
    }
  }

  &-thumbnail {
    display: none;
    max-height: 200px;

    @include media($desktop) {
      display: block;
    }
  }

  &--white {
    background-color: $_media_insights_highlight_bg_white;
  }  
}