@keyframes showBoxEase {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.m__team-box {
  @include grid-card-element();
  margin-bottom: 20px;
  padding: 15px 10px 24px 10px;
  width: 252px;
  min-height: 336px;
  background-color: $_white;
  text-align: center;
  box-shadow: -3px 6px 27px 0 $_gray;
  overflow: hidden;
  animation: showBoxEase .5s forwards;
  cursor: pointer;

  &:hover {
    .m__team-box-color_picture {
      display: inline-block;
    }

    .m__team-box-bw_picture {
      display: none;
    }
  }

  &--hidden {
    display: none;
  }

  img {
    margin-bottom: 20px;
    max-width: 140px;
    max-height: 140px;
    border-radius: 50%;
  }

  &-color_picture {
    display: none;
  }

  &-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: $font;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.5px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: $font_secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.5px;
  }

  &-department {
    margin: 0;
    font-family: $font_secondary;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    line-height: 1.43;
    letter-spacing: 0.2px;
  }

  &-footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  &-email {
    margin-left: 10px;
    margin-right: 10px;

    &-icon {
      margin-top: auto;
      max-width: 25px;
      max-height: 16px;
    }
  }

  &-linkedin {
    margin-left: 10px;
    margin-right: 10px;

    &-icon {
      max-width: 25px; 
      max-height: 25px; 
    }
  }

  &-bio {
    display: none;
  }
}