.m__transactions-highlights-box {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  padding-bottom: 29px;
  min-height: 336px;
  background-color: $_transactions_highlights_bg;
  text-align: center;

  @include media($desktop) {
    width: 252px;
  }

  &-logo-top-container,
  &-logo-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;    
    height: 60px;
    max-width: 180px;  
  }  

  &-logo-top,
  &-logo-bottom {
    width: auto !important;
    max-width: 180px;
    max-height: 100%;
  }  

  &-logo-top-container {
    margin-bottom: 28px;
  }

  &-logo-bottom-container {
    margin-bottom: 18px;
  }

  &-quantity {
    font-family: $font;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.5px;
    text-align: center;
    color: $_transactions_highlights_text;
  }

  &-separator {
    margin: 15px auto;
    width: 60%;
    background-color: $_transactions_highlights_separator;
    height: 2px;

    @include media($tablet) {
      width: 70%;
    }
  }

  &-text {
    padding-left: 30px;
    padding-right: 30px;
    font-family: $font_secondary;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    text-align: center;
  }

  &-type {
    padding-left: 30px;
    padding-right: 30px;    
    font-family: $font_secondary;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;   

    &:empty {
      display: none;
    } 
  }

  &-foot {
    margin-top: auto;
    padding-top: 10px;
  }

  &-date {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.62;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}