.m__vertical-box {
  display: flex;
  margin-top: 30px;
  max-width: 269px;
  min-height: 200px;
  background-color: $_media_insights_highlight_bg_white;

  @include media($mobile_l) {
    margin-top: 50px;
    max-width: 469px;
  }

  &-thumbnail {
    display: none;
    max-width: 200px;
    max-height: 200px;

    @include media($mobile_l) {
      display: block;
    }
  }

  &-content {
    position: relative;
    max-width: 265px;
    background-color: $_white;
    border: 2px solid $_brand_primary;

    &-subcontainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px 18px 20px 20px;
    }

    .m__link {
      &-link {
        justify-content: space-between;
      }

      &-title {
        margin-top: 0;
        margin-bottom: 0;
        font-family: $font;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 0.2px;
      }

      .a__circular-arrow-icon {
        margin-left: 0;
      }
    }

    &-description {
      margin-top: 5px;
      margin-bottom: 0;
      max-height: 100px;
      font-family: $font_secondary;
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 0.2px;
      overflow: hidden;
    }

    &-link {
      position: absolute;
      right: 16px;
      bottom: 13px;
    }
  }

  &--dark {
    .m__vertical-box-content {
      border: none;
    }
  }
}