.o__copy-block-media {
  padding-top: 84px;
  padding-bottom: 22.5px;  

  @include media($desktop) {
    padding-top: 140px;
    padding-bottom: 55.5px;  
  }

  &--blue {
    background-color: $_copy_block_bg_blue;
  }

  &--gray {
    background-color: $_copy_block_bg_gray;
  }

  &--white {
    background-color: $_copy_block_bg_white;  
  }

  .container {
    display: flex;
    flex-direction: column;

    @include media($tablet) {
      flex-direction: row;
    }
  }

  &-text {
    order: 1;

    @include media($tablet) {
      padding-right: 61px;
      order: 0;
      max-width: initial;
      text-align: left;
    }  
  }

  &-media {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 0;
    margin-bottom: 50px;

    @include media($tablet) {
      display: flex;
      margin-bottom: 40px;
      margin-bottom: 0;
      order: 1;
    }
  }    

  .m__content {
    text-align: center;
    letter-spacing: 0.6px;

    @include media($tablet) {
      text-align: left;
      letter-spacing: 0.3px;
    }    
  }  

  .m__content-title {
    font-size: 36px;
    text-align: center;

    @include media($tablet) {
      margin-bottom: 21px;
      max-width: 389px;
      font-size: 36px;
      text-align: left;   
    }    
  }

  .m__content-content {
    @include media($tablet) {
      max-width: 389px;
    }      
  }

  .m__link {
    margin-top: 68px;
    text-align: center;

    @include media($tablet) {
      margin-top: 38px;
      text-align: left;
    }
  }  

  .m__link-link {
    justify-content: center;

    @include media($tablet) {
      justify-content: flex-start;
    }      
  }  
}