.o__copy-block-text {
  padding-top: 59px;
  padding-bottom: 40px;
  text-align: center;

  @include media($tablet) {
    padding-top: 80px;
  }

  &--blue {
    background-color: $_copy_block_bg_blue;
  }

  &--gray {
    background-color: $_copy_block_bg_gray;

    .m__content-title,
    .m__content-content {
      color: $_copy_block_bg_blue;
    }
  }

  &--white {
    background-color: $_copy_block_bg_white;

    .m__content-title,
    .m__content-content {
      color: $_copy_block_bg_blue;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    @include media($tablet) {
      flex-direction: row;
    }
  }

  &-subcontainer {
    @include media($tablet) {
      margin-left: auto;
      margin-right: auto;
      max-width: 665px;
    }  
  }

  .m__content {
    text-align: center;
    letter-spacing: 0.6px;
  }  

  .m__content-title {
    font-size: 36px;
    text-align: center;

    @include media($tablet) {
      margin-bottom: 51px;
      font-size: 50px; 
    }    
  }

  .m__content-content {
    @include media($tablet) {
      letter-spacing: 0.6px;
    }
  }

  .a__btn {
    margin-top: 80px;
    margin-bottom: 50px;
  }
}