.o__footer-bottom {
  padding: 50px 0 130px 0;
  color: $footer_bottom_text;
  background-color: $footer_bottom_bg;
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.5px;

  &-container-top {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid $footer_bottom_separator;
  }

  &-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media($tablet) {
      flex-direction: row;
    }
  }

  &-copyright {
    @include media($tablet) {
      width: 50%;
    }

    @include media($desktop) {
      width: auto;
      max-width: 567px;
    }
  }

  &-menu {
    margin-top: 30px;
    text-align: center;

    @include media($tablet) {
      width: 50%;
    }

    @include media($desktop) {
      margin-top: 18px;
      width: auto;
      max-width: 388px;
      text-align: left;
    }
  }
}