.o__footer-top {
  position: relative;
  background: $footer_bg;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: $footer_title;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.5px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.2px;
    color: $footer_title;
  }

  &-col-left {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 269px;
    text-align: left;

    @include media($tablet) {
      margin-left: initial;
      width: 100%;
      max-width: 100%;
    }
  }

  &-col-right {
    background-color: $footer_bg_right;

    @include media($tablet) {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;        
      text-align: left;
    }   

    @include media($desktop) {
      width: 41%;
    }   

    &-container {
      display: inline-block;
      margin: 54px 0;
      max-width: 269px;

      @include media($tablet) {
        margin: 50px 0 50px 80px;
        width: 227px;        
      }

      @include media($tablet) {
        margin-right: 0;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 30px;
      }

      p {
        margin: 0;
        padding-bottom: 25px;
        color: $footer_title;
      }

      .a__btn {
        margin-top: 25px;
      }
    }   
  }   

  &-logo {
    display: block;
    padding-bottom: 18px;
    z-index: 1;

    img {
      max-height: 53px;
      max-width: 213px;
    }      
  }

  &-contact-text {
    margin-top: 18px;

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 15px;
    }
  }

  &-social-media {
    display: flex;
    align-items: center;
    margin-top: 47px;

    @include media($tablet) {
      justify-content: initial;
    }

    svg {
      width: 25px;
      height: 25px;
    }

    &-title {
      padding-right: 30px;
    }

    &-link {
      padding-right: 10px;

      &:hover {
        .o__footer-top-social-media-icon {
          display: none;
        }        

        .o__footer-top-social-media-icon-hover {
          display: inline-block;
        }
      }
    }

    &-icon-hover {
      display: none;
    }
  }   
}
