@media screen and (min-width:768px) {
  .admin-video-wrapper .acf-oembed {
    width: 40%;
  }

  .acf-fc-popup ul {
    column-count: 2;
  }

  .acf-fc-popup li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;  
  }
}