.o__description {
  padding-top: 41px;
  padding-bottom: 50px;

  @include media($tablet) {
    margin-bottom: 105px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;    
    max-width: 650px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 1.2px;

    @include media($tablet) {
      line-height: 1.12;
      letter-spacing: 1.7px;
    }    
  }

  &-subcontainer {
    position: relative;
  }

  &-image {
    @include media($tablet) {
      max-width: 83%;
      min-height: 528px;
    }
  }

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 80px;
    margin-bottom: -80px;
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 330px;
    min-height: 330px;
    font-family: $font_secondary;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.5px;
    text-align: center;
    color: $_description_text;

    @include media($mobile_l) {
      max-width: auto;
      min-width: 440px;
      min-height: 430px;     
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.2px;
    }

    @include media($tablet) {
      position: absolute;
      bottom: 25px;
      right: 0;
      padding: 25px;
      width: auto;
      max-width: 440px;
      height: 430px;
    }

    &--only-text {
      @include media($tablet) {
        letter-spacing: 0.6px;
      }
    }

    &--blue {
      background-color: $_description_bg_blue;
    }

    &--red {
      background-color: $_description_bg_red;
    }    
  }

  &-button {
    margin-top: 30px;

    @include media($mobile_l) {
      margin-top: 40px;
    }
  }

  &--blue {
    background-color: $_description_bg_blue;

    .o__description-title {
      color: $_description_bg_gray;
    }
  }

  &--gray {
    background-color: $_description_bg_gray;
  }

  &--white {
    background-color: $_description_bg_white;
  }
}