.m__share-buttons {
  &-label {
    margin-bottom: 7px;
    font-family: $font_secondary;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: $_brand_secondary;
    text-transform: uppercase;
  }

  &-link {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}