.m__two-col-list {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  max-width: 630px;

  @include media($tablet) {
    padding-top: 40px;
  }

  &-row {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid $_white;

    @include media($tablet) {
      flex-direction: row;
    }

    &:first-child {
      border-top: 2px solid $_white;
    }

    &-title {
      font-family: $font_secondary;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.5px;
      color: $_white;
      width: 80%;

      @include media($tablet) {
        width: 310px;
      }          
    }

    &-vertical {
      display: flex;
      align-items: center;
      padding-right: 30px;
      font-family: $font_secondary;
      font-size: 14px;
      line-height: 1.57;
      letter-spacing: 0.2px;
      color: $_white;
      width: 80%;

      @include media($tablet) {
        padding-left: 93px;
        width: 300px;
      }
    }

    &-icon {
      position: absolute;
      right: 0;
      top: 40%;

      @include media($tablet) {
        display: flex;
        align-items: center; 
        padding-right: 20px; 
        text-align: right;
      }

      &-svg {
        width: 12px;
        height: 22px;
      }
    }

    &--hidden {
      display: none;
    }
  } 

  &-button {
    text-align: center;

    .a__btn {
      display: none;
      margin-top: 50px;

      &--activate {
        display: inline-block;
      }      
    }
  }  
}