.o__verticals {
  padding-top: 40px;
  padding-bottom: 100px;

  &-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media($desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &--blue {
    background-color: $_brand_primary;
  }

  &--gray {
    background-color: $_light-gray;
  }

  &--white {
    background-color: $_white;
  }    
}