.o__slideshow {
  padding-top: 80px;

  &-intro-container {
    padding-bottom: 100px;
  }

  &-slider-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    background-color: $_white;

    @include media($tablet) {
      flex-direction: row;
    }
  }

  &-close {
    position: absolute;
    top: -7px;
    right: 20px;
    border: none;
    background-color: transparent;
    
    @include media($desktop) {
      right: 0;
    }

    &-icon {
      max-width: 20px;
      max-height: 20px;      
    }
  }

  &-text-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    order: 1;
    height: 400px;

    @include media($tablet) {
      order: 0;
      height: auto;
    }

    &-initial-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: $_white;

      @include media($tablet) {
        top: 0;
        width: 150%;
        height: 100%;
      }

      .o__slideshow-text-box-title {
        border: none;
      }

      .a__btn {
        margin-top: 30px;
        padding: 3px 20px;
        max-width: 145px;
      }
    }

    &-slider-container {
      position: relative;
      top: 0;
      padding-top: 80px;
      height: 100%;
      background-color: $_light-gray;
      transform: translate3d(-1000px, 0, 0);
      transition: transform .7s ease;
      flex-grow: 1;

      @include media($tablet) {
        position: static;
        margin-bottom: 0;
        padding-top: 0;
      }

      &.activate {
        transform: translate3d(0, 0, 0);

        @include media($tablet) {
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      
      @include media($tablet) {
        margin-top: 27px;
        margin-bottom: -40px;
        max-width: 350px;
      }

      @include media($desktop) {
        margin-bottom: 0;
        padding: 0;
        max-width: 305px;
      }
    }

    &-slide-counter {
      margin-bottom: 10px;
      font-family: $font_secondary;
      font-size: 12px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: $_brand_primary;      
    }

    &-title {
      margin-top: 0;
      margin-bottom: 15px;
      padding-top: 89px;
      border-top: 2px solid $_brand_primary;
      font-family: $font;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: 0.2px;

      @include media($tablet) {
        padding-top: 25px;
      }
    }

    &-description {
      font-family: $font_secondary;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.5px;
      text-align: left;
      color: $_navy-dark2;
    }    
  }

  &-slider {
    width: 100%;
    transform: translate3d(1000px, 0, 0);
    transition: transform .7s ease;       
    order: 0;

    @include media($tablet) {
      width: 60%;
      transform: translate3d(100px, 0, 0);
      order: 1; 
    }

    @include media($desktop) {
      width: calc(50% + 100px);
    }

    &.activate {
      transform: translate3d(0, 0, 0);
      transition: transform .5s ease .2s; 
    }
  }

  &-slide-image {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @include media($tablet) {
      height: 380px;
    }

    @include media($desktop) {
      height: 430px;
    }      
  }

  &-nav-icon {
    display: none;
  }

  .m__content-title {
    margin-bottom: 30px;

    @include media($tablet) {
      margin-bottom: 50px;
    }
  }

  .m__content-content {
    padding-bottom: 0;
    max-width: 668px;
    letter-spacing: 0.6px;
    line-height: 1.5;
    font-size: 20px;

    @include media($tablet) {
      font-size: 16px;
      line-height: 1.62;
    }
  }

  .carousel-custom-dots {
    padding: 0;
  }

  .owl-item {
    backface-visibility: visible;
  }

  .carousel-custom-nav {
    display: flex;
    position: absolute;
    top: -52px;
    left: calc(50% - 110px);

    @include media($tablet) {
      top: 300px;
      left: 50px;
    }

    @include media($desktop) {
      left: 0;
    }
  }

  .owl-prev,
  .owl-next {
    height: 22px;
    cursor: pointer;

    @include media($tablet) {
      display: block;
    }

    svg {
      width: 12px;
      height: 22px;
    }

    &.disabled {
      opacity: 0.3;
    }
  }

  .owl-prev {
    margin-right: 200px;
    transform: rotate(180deg);
  }

  &--blue {
    background-color: $_brand_primary;

    .m__content-title,
    .m__content-content {
      color: $_light-gray;
    }
  }

  &--gray {
    background-color: $_light-gray;
  }

  &--white {
    background-color: $_white;
  }   
}