.m__footer-nav {
  overflow: hidden;

  ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  li {
    display: inline-block;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;

      @include media($desktop) {
        float: right;
      }

      a {
        padding-right: 0;
      }
    }
  }

  a {
    color: $nav_link;
    font-family: $font_tertiary;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 0.3px;
    text-decoration: underline;
    padding: 0;

    @include media($desktop) {
      padding: 0 20px;
    }

    &:hover {
      color: $nav_hover;
    }

    span {
      text-decoration: none;
      margin-right: 5px;
    }
  }
}
