.m__pagination {
  overflow: hidden;
  padding: 0;

  li {
    display: inline-block;
    padding: 0;
    border-right: 1px solid $pagination_separator;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  a {
    color: $pagination_inactive;

    &:hover {
      color: $pagination_hover;
    }
  }

  span {
    color: $pagination_active;
  }
}
