@keyframes slide-out {
  0% { 
    opacity: 0; 
    transform: translateX(100%); 
  }   

  100% { 
    opacity: 1; 
    transform: translateX(0); 
  }
}

.m__primary-nav {
  z-index: 2;
}

.m__primary-nav-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 21.5px;
  padding: 0;  
  width: 100%;
  height: 110vh;
  background-color: $header_bg;
  z-index: 100;

  @include media($desktop) {
    display: block;
    position: static;       
    width: auto; 
    max-width: none;
    height: auto;
    background-color: initial;
    transform: translateX(0);
    transition: none;
    transition: transform 0.2s ease-in-out; 
  }

  &.is-active {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-out .3s ease-out;

    @include media($mobile-landscape) {
      align-items: flex-start;
      padding-top: 50px;
      padding-bottom: 20px;      
    }
  }

  .menu {
    text-align: center;
    padding: 0;

    @include media($desktop) {
      padding-top: 27px;
      text-align: center;
    } 

    > li {
      &:last-child {
        padding-top: 18px;

        @include media($desktop) {
          margin-left: 38px;
          margin-right: 10px;  
          padding-top: 0;     
        }

        @include media($mobile-landscape) {
          padding-top: 0;
        }

        a {
          font-size: 18px;

          @include media($desktop) {
            font-size: 16px;
          }
        }
      } 

      &.current-menu-item {
        a {
          color: $link_active;
        }

        .sub-menu {
          a {
            color: $nav_link;
          }          
        }
      }         
    }
  }

  li {
    margin-bottom: 30px;
    list-style: none;

    @include media($desktop) {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-bottom: 0;   
    }

    @include media($mobile-landscape) {
      margin-bottom: 10px;
    }    
  }

  a {
    display: block;
    padding: 0;
    font-family: $font_tertiary;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    text-transform: uppercase;

    &:hover {
      color: $link;
      font-weight: 900;
    }

    @include media($desktop) {
      padding: 0 19px 33px 19px;
      font-size: 16px;
      letter-spacing: 1px;
    }

    @include media($mobile-landscape) {
      padding: 0 10px 0 10px;
    }
  }

  .menu-item-has-children {
    position: relative;
  }

  .sub-menu {
    display: none;
    padding: 3.5px 0 7.5px 0;
    min-width: 170px;

    @include media($desktop) {
      height: auto;
      border-top: 4px solid $_brand_tertiary;
      background-color: $header_bg;
      box-shadow: 0 2px 4px 0 rgba($_black, 0.2);
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      z-index: 2;
    }

    li {
      display: block;
      margin-bottom: 10px;

      @include media($desktop) {
        margin-bottom: 0;
      }

      &.current-menu-item {
        a {
          color: $link_active;
        }
      }

      &:first-child {
        padding-top: 0;
      }
    }

    a {
      display: block;
      padding: 7.5px 10px;
      text-transform: none;
      text-align: center;
      font-family: $font_secondary;
      font-size: 14px;
      letter-spacing: 0.2px;

      @include media($desktop) {
        text-align: left;
        font-size: 12px;
      }
    }
  }
}