.o__job-opportunities {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media($tablet) {
    padding-top: 100px;
  }

  &--gray {
    background-color: $_light-gray;
  }  

  &--white {
    background-color: $_white;
  }  

  &--blue {
    background-color: $_brand_primary;
  }  

  .m__content {
    margin-left: auto;
    margin-right: auto; 
    max-width: 630px;
    text-align: center;

    &-content {
      padding-top: 20px;
      padding-bottom: 10px;
      letter-spacing: 0.6px;
    }
  }  

  .m__two-col-list {
    padding-top: 50px;
  }

  .m__two-col-list-row-title {
    @include media($tablet) {
      width: 500px;
    }
  }  

  .m__two-col-list-row {
    flex-direction: row;

    &-title {
      width: 60%;

      @include media($tablet) {
        width: 310px;
      }        
    }

    &-vertical {
      width: 30%;

      @include media($tablet) {
        width: 300px;
      }    
    }
  }
}