.m__history-timeline-entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px 20px 20px 20px;
  margin-right: auto;
  min-height: 100%;
  background-color: $_history_timeline_bg_content;

  @include media($tablet) { 
    padding: 60px; 
  }

  @include media($desktop) {
    margin-left: 2px;
    padding: 0;
    justify-content: center;
    max-width: 673px;
    background-color: transparent;
  }

  &-year {
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    align-self: flex-start;
    border-bottom: 2px solid $_history_timeline_line;
    font-family: $font;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.28;
    letter-spacing: 1px;
    color: $_history_timeline_text_gray;

    @include media($desktop) {
      font-size: 50px;
      line-height: 1.0;
      letter-spacing: 0.8px;      
    }
  }

  &-title {
    margin-bottom: 20px;
    font-family: $font;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.42;
    letter-spacing: 0.5px;
    color: $_history_timeline_text_gray;

    @include media($desktop) {
      margin-bottom: 30px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    @include media($desktop) {
      flex-direction: row;
    }

    &-image {
      margin-right: 38px;
      margin-bottom: 20px;
      max-width: 256px;
      height: 100%;

      @include media($desktop) {
        margin-bottom: 0;
      }
    }

    &-description {
      display: flex;
      align-items: center;
      font-family: $font_secondary;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.5px;        
      color: $_history_timeline_text_white;

      ul {
        padding-left: 0;
      }

      li,
      p {
        font-family: $font_secondary;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.5px;   
        color: $_history_timeline_text_white;     
      }

      p {
        &:first-child {
          margin-top: 0;
        }
      }

      li {
        margin-bottom: 10px;
        padding-left: 20px;
        text-indent: -20px;
      }
    }
  }
}