@font-face {
  font-family: 'din_condensedbold';
  src: url('../fonts/din_condensed_bold.woff2') format('woff2'),
  url('../fonts/din_condensed_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font: 'Montserrat', sans-serif;
$font_secondary: 'Lato', sans-serif;
$font_tertiary: 'din_condensedbold', sans-serif;
