.o__post {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 631px;

  @include media($desktop) {
    padding-top: 141px;
    padding-bottom: 197px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.11;
    letter-spacing: 1.2px;    
    text-align: center;  

    @include media($desktop) {
      font-size: 50px;
      font-weight: 800;
      line-height: 1.12;
      letter-spacing: 1.7px;
    }

    &--small {
      margin-top: 30px;
      margin-bottom: -15px;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.42;
      letter-spacing: 0.5px;
      text-align: left;

      @include media($desktop) {
        margin-top: 27px;
      }
    }
  }

  &-header {
    display: flex;
    flex-direction: column;

    @include media($tablet) {
      flex-direction: row;
    }

    &-item {
      font-family: $font_secondary;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.5px;
      text-align: justify;
      text-transform: uppercase;
      color: $_navy-dark2;
    }     

    &-date {
      margin-right: 0;

      @include media($tablet) {
        margin-right: 162px;
      }
    }  

    &-location {
      margin-top: 10px;

      @include media($tablet) {
        margin-top: 0;
      }
    }
  }

  &-content {
    @include editor_styles();
  }

  &-link {
    margin-top: 30px;
  }

  .a__btn__back {
    margin-top: -22px;
    position: relative;
    top: -45px;

    @include media($desktop) {
      left: -145px;
    }
  }

  .m__content-title {
    margin-bottom: 73px;
  }

  .a__media {
    margin-top: 30px;
    margin-bottom: 50px;

    @include media($desktop) {
      margin-top: 50px;
    }    

    &-video {
      iframe {
        width: 100%;
        height: 200px;

        @include media($mobile_l) {
          height: 280px;
        }

        @include media($tablet) {
          height: 354px;
        }
      }
    }    
  }

  .m__share-buttons {
    margin-top: 50px;
    margin-bottom: 30px;

    @include media($desktop) {
      margin-top: -51px;
      margin-bottom: 0;
      position: relative;
      top: 111px;
      left: -145px;
      float: left;
    }
  }

  .a__btn {
    margin-top: 80px;
  }

  &--has-title-small {
    @include media($desktop) {
      padding-top: 122px;
    }

    .m__share-buttons {
      top: 105px;
    }
  }  
}