.o__transactions-highlights {
  padding: 100px 0 40px 0;
  background-color: $_transactions_highlights_bg;
  text-align: center;

  @include media($tablet) {
    padding: 80px 0 40px 0;
  }

  .container {
    max-width: 850px;
  }

  &-title {
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 1.2px;

    @include media($tablet) {
      padding: 0;
      font-size: 50px;
      line-height: 1.12;
      letter-spacing: 1.7px;      
    }
  }

  &-boxes {
    display: flex;
    opacity: 0;
    transition: opacity .5s ease;      
  }

  &-slider-nav-icon {
    display: none;
  }

  .a__btn {
    margin-top: 23px;
  }

  .owl-stage {
    display: flex;
  }

  .owl-stage-outer {
    padding: 27px 0;
  }

  .owl-loaded {
    opacity: 1;
  }

  .owl-item {
    box-shadow: -3px 6px 27px 0 $_transactions_highlights_shadow;
    backface-visibility: visible;
    transform: translateZ(0) scale(1.0, 1.0);
    opacity: 0;
    transition: opacity .5s ease;

    @include media($tablet) {
      box-shadow: none;
    }

    &.active {
      opacity: 1;

      @include media($tablet) {
        box-shadow: -3px 6px 27px 0 $_transactions_highlights_shadow;
      }
    }

    .m__transactions-highlights-box {
      height: 100%;
    }
  }

  .owl-prev,
  .owl-next {
    display: none;
    position: absolute;
    top: 45%;

    @include media($tablet) {
      display: block;
    }

    svg {
      width: 12px;
      height: 22px;
    }

    &.disabled {
      opacity: 0.3;
    }
  }

  .owl-prev {
    transform: rotate(180deg);
    left: -16px;
  }

  .owl-next {
    right: -8px;
  }

  .owl-dots {
    margin-top: 10px;

    @include media($tablet) {
      display: none;
    }
  }
}