.o__hero {
  position: relative;
  height: 400px; /* fallback for browsers without support for calc() */
  height: calc(100vh - 70px); 
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  @include media($desktop) {
    background-size: cover;
    height: calc(100vh - 121px); 
  }

  &-box {
    display: flex;
    margin: 0 auto;   
    padding: 30px;    
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;    
    transform: translateY(-50%);
    width: 90%;
    height: 294px;
    max-width: 330px;
    color: $_hero_box_text;
    background-color: $_hero_box_bg;
    font-size: 16px;

    @include media($tablet) {
      min-height: 341px;
      height: auto;
      max-width: 430px;
      font-size: 20px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: 341px; /* show to IE */
    }

    @include media($mobile-landscape) {
      top: 50%;
      height: calc(100vh - 40%); 
      width: calc(100vw - 30%); 
      max-width: initial;
    }

    &--red {
      background-color: $_hero_box_bg_alternate;
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    color: $_hero_box_text;
    line-height: 1.22;
    letter-spacing: 1.3px;

    @include media($tablet) {
      font-size: 56px;
      letter-spacing: 0.7px;
      line-height: 1.21;
    }    
  }

  &-content {
    text-align: center;
    font-family: $font_secondary;
    font-size: 16px;
    font-weight: 500;
    color: $_hero_box_text_content;
    line-height: 1.62;
    letter-spacing: 0.5px;

    @include media($tablet) {
      line-height: 1.5;
      letter-spacing: 0.6px;
      font-size: 20px;
    }
  } 

  &-next-icon {   
    position: absolute;
    bottom: 10%;
    left: calc(50% - 15px);
    right: 0;
    max-width: 30px;
    text-align: center;
    cursor: pointer;

    @include media($small-height) {
      display: none;
    }
  }
}