.o__verticals-teaser {
  padding-top: 40px;
  padding-bottom: 100px;

  .container {
    display: flex;
    flex-direction: column;
    
    @include media($tablet) {
      flex-direction: row;
    }
  }

  &-title {
    display: flex;
    margin: 0;
    padding: 0 55px;    
    justify-content: center;
    align-items: center;
    min-height: 260px;
    font-size: 36px;
    line-height: 1.28;
    letter-spacing: 1px;   
    color: $_verticals_teaser_title_text;
    background-color: $_verticals_teaser_title_bg;

    @include media($tablet) {
      min-width: 307px;
      max-width: 400px;
    }
  }

  &-links {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 50px 20px;
    background-color: $_verticals_teaser_links_bg;

    @include media($tablet) {
      padding: 16px 10px 66px 0;
    }

    @include media($desktop) {
      padding: 16px 40px 66px 0;
    }
  }

  &-link-item {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 53px;
    width: 100%;

    @include media($tablet) {
      width: 50%;
      padding-left: 26px;
    }

    @include media($desktop) {
      padding-left: 56px;
    }
  }

  &--white {
    background-color: $_verticals_teaser_bg_white;
  }

  &--gray {
    background-color: $_verticals_teaser_bg_gray;
  }

  &--blue {
    background-color: $_verticals_teaser_bg_blue;
  }  

  .m__link-title {
    max-width: 194px;

    @include media($tablet) {
      max-width: 138px;
    }

    @include media($desktop) {
      max-width: 194px;
    }
  }

  .m__link-link {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.2px;
  }

  .a__circular-arrow-icon {
    position: absolute;
    right: 0;
    margin-left: 0;
    padding-right: 10px;
  }
}