.o__capabilities-teaser {
  padding-top: 50px;
  padding-bottom: 40px;

  @include media($tablet) {
    padding-top: 40px;
  }

  &-item {
    display: flex;
    flex-direction: column;

    &:first-child {
      .m__link {
        @include media($tablet) {
          margin-top: 0;
        }
      }
    }

    &-row-bottom {
      display: block;
    }

    &-content,
    &-line {
      @include media($tablet) {
        float: left;
        width: 50%;
      }
    }

    &-content {
      margin: 0;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.5px;
      
      @include media($tablet) {
        padding-right: 50px;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.6px;
      }

      @include media($desktop) {
        padding-right: 100px;
      }
    }

    &-line {
      margin: 50px 0;
      height: 2px;
      background-color: $_capabilities_teaser_line;

      @include media($tablet) {
        margin: 0;
      }
      
      @include media($desktop) {
        max-width: 334px;
      }
    }

    &:nth-child(even) {
      .o__capabilities-teaser-item-link-subcontainer {
        @include media($tablet) {
          float: right;
          padding-left: 50px;
          width: 50%;
        }

        @include media($desktop) {
          padding-left: 89px;
        }        
      }

      .o__capabilities-teaser-item-content {
        @include media($tablet) {
          float: right;
          padding-left: 50px;
          padding-right: 0;
        }

        @include media($desktop) {
          padding-left: 89px;
        }        
      }

      .o__capabilities-teaser-item-line {
        @include media($tablet) {
          float: left;
        }
      }
    }

    &:last-child {
      .o__capabilities-teaser-item-line {
        display: none;

        @include media($tablet) {
          display: block;
          margin-top: 13px;
        }
      }
    }
  }

  &--white {
    background-color: $_capabilities_teaser_bg_white;
  }

  &--gray {
    background-color: $_capabilities_teaser_bg_gray;
  }

  &--blue {
    background-color: $_capabilities_teaser_bg_blue;

    .o__capabilities-teaser-item-content {
      color: $_capabilities_teaser_bg_white;
    }
  }

  .m__link {
    @include media($tablet) {
      margin-top: 20px;
    }

    &-link {
      margin-bottom: 15px;

      @include media($tablet) {
        margin-bottom: 27px;
      }
    }

    &-title {
      float: left;
      width: 50%;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.28;
      letter-spacing: 1px;

      @include media($mobile_l) {
        max-width: 240px;
        width: auto;
      }

      @include media($desktop) {
        max-width: 283px;
      }
    }

    .a__circular-arrow-icon {
      position: absolute;
      top: 25%;
      right: 0;

      @include media($mobile_l) {
        position: static;
        right: auto;
      }
    }
  }
}