.m__link {
  width: 100%;
  
  @include media($tablet) {
    justify-content: initial;
  }

  &-link {
    display: flex;
    align-items: center;
    font-family: $font;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: 0.5px;
  }

  .a__circular-arrow-icon {
    margin-left: 30px;
    line-height: 1;
  }

  &--light {
    .m__link-link {
      color: $_link_title;
    }
  }

  &--dark {
    .m__link-link {
      color: $_link_title_dark;
    }
  }  
}