.o__products {
  padding-top: 80px;
  padding-bottom: 100px;

  .a__separator {
    padding-top: 15px;
    padding-bottom: 30px;

    @include media($tablet) {
      padding-top: 40px;
    }
  }

  &-products {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 825px;
  }

  &-product {
    padding-top: 50px;
    max-width: 348px;

    &-title {
      margin: 0 auto 10px auto;
      max-width: 300px;
      font-family: $font;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.42;
      letter-spacing: 0.5px;
      text-align: center;
      color: $_light-gray;
    }

    &-description {
      margin: 0;
      font-family: $font_secondary;
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.5px;
      text-align: center;
      color: $_white;
    }
  }

  &--blue {
    background-color: $_brand_primary;
  }

  &--gray,
  &--white {
    .o__products-product-title,
    .o__products-product-description {
      color: $_brand_primary;
    }
  }

  &--gray {
    background-color: $_light-gray;
  }

  &--white {
    background-color: $_white;
  }    
}