.o__media {
  padding-top: 80px;
  padding-bottom: 30px;

  &-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    @include media($tablet) {
      flex-direction: row;
    }

    &-media-type,
    &-year {
      position: absolute;
      left: -100%;
    }

    &-icon {
      display: none;
    }
  }

  &-posts {
    @include grid-boxes();
    padding-top: 70px;

    &.no-text {
      padding-bottom: 80px;
      justify-content: center;
    }
  }

  &-button-container {
    text-align: center; 
  }

  .m__media-insight-box {
    @include grid-box-element();
  }

  .loader {
    margin-bottom: 50px; 
  }

  .selectric-o__media-filters-year {
    margin-right: 52px;
    margin-bottom: 30px;
    width: 160px;

    @include media($tablet) {
      margin-right: 30px;
      margin-bottom: 0;
      width: 160px;
    }

    @include media($desktop) {
      margin-right: 52px;
    }
  }

  .selectric-o__media-filters-media-type {
    width: 204px;
  }

  &-view-more-button {
    display: none;
    margin-bottom: 50px;

    &.active {
      display: inline-block;
    }
  }

  &--gray {
    background-color: $_light-gray;
  }  

  &--white {
    background-color: $_white;
  }  

  &--blue {
    background-color: $_brand_primary;
  }  

  .m__content {
    &-content {
      padding-top: 10px;
      max-width: 790px;
      letter-spacing: 0.6px;
    }
  }   
}