video, object {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;   
  width: 100%;
  height: 183px;

  @include media($tablet) {
    width: 470px;
    height: 265px;
  }
}

.a__media {
  position: relative;

  &.active {
    .a__media-video {
      display: block;
    }

    .a__media-video-image,
    .a__media-video-icon {
      display: none;
    }
  }

  &-has-video-placeholder {
    cursor: pointer;

    .a__media-video {
      display: none;
    }
  }

  &-video-icon {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 60px;
    height: 60px;
    cursor: pointer;

    @include media($tablet) {
      top: 40%;   
    }
  }
}