.o__menu {
  padding-top: 80px;
  padding-bottom: 25px;

  @include media($tablet) {
    padding-bottom: 41px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 1.2px;

    @include media($tablet) {
      margin-bottom: 33px;
      line-height: 1.12;
      letter-spacing: 1.7px;
    }
  }

  &-subcontainer {
    position: relative;
    height: 100%;
    text-align: right;  
  }

  &-image {
    width: 100%;
    max-height: 474px;

    @include media($tablet) {
      width: percentage(793px / $max-width);
    }
  }

  &-box {
    position: relative;
    bottom: 80px;
    margin-bottom: -80px;
    padding: 44px 20px 78px 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: $font_secondary;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.2px;
    text-align: center;
    color: $_menu_text;

    @include media($tablet) {
      position: absolute;
      top: 8%;
      bottom: -50px;
      margin-left: auto;
      margin-right: auto;      
      margin-bottom: -50px;
      padding: 50px 50px 60px 40px;
      width: 440px;
      height: 84%;
      font-size: 20px;
      line-height: 1.5;
    }

    @include media($desktop) {
      top: 8%;
      height: 400px;
      max-width: 440px;      
    }

    &-subcontainer {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      text-align: left;

      @include media($tablet) {
        text-align: center;
      }      
    }

    &--blue {
      background-color: $_menu_bg_blue;
    }

    &--red {
      background-color: $_menu_bg_red;
    }
  }

  &-links {
    position: relative;
    margin-top: auto;
    padding-top: 6px;
    align-self: flex-start;
    min-width: 245px;
    width: 100%;
    text-align: left;

    @include media($mobile_l) {
      min-width: 285px;
    }

    @include media($tablet) {
      padding-top: 0;
      width: auto;
    }

    .m__link {
      padding-bottom: 55px;
      padding-top: 50px;
      border-bottom: 1px solid $_menu_link_line;

      @include media($tablet) {
        padding-bottom: 30px;
        padding-top: 35px;     
      }

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }

    .m__link-title {
      width: 90%;
      font-weight: bold;
    }

    .a__circular-arrow-icon {
      position: absolute;
      right: 0;
    }    
  }

  &-box-subcontainer {
    &--no-text {
      justify-content: center;

      .o__menu-links {
        margin-top: initial;
      }

      .m__link {
        padding-top: 30px;
        padding-bottom: 30px;

        @include media($tablet) {
          padding-top: 50px;
          padding-bottom: 50px;
        }
      }
    }        
  }

  &--white {
    background-color: $_menu_bg_white;
  }

  &--gray {
    background-color: $_menu_bg_gray;
  }

  &--blue {
    background-color: $_menu_bg_blue;

    .o__menu-title {
      color: $_white;
    }
  }

  &--box-right {
    .o__menu-subcontainer {
      text-align: left;
    }

    .o__menu-box {
      right: 0;
    }
  }
}