/**
 * Media queries are done as follows:
 * No media query - should be the default mobile style and styles shoul be applied
 * incrementally.
 */
$mobile_m: new-breakpoint(min-width 375px 12); // Style applied above 375px
$mobile_l: new-breakpoint(min-width 425px 12); // Style applied above 425px
$grid_media_1_col: new-breakpoint(min-width 623px 12); // Style applied above 623px
$tablet: new-breakpoint(min-width 768px 12); // Style applied above 768px
$desktop: new-breakpoint(min-width 1024px 12); // Style applied above 1024px
$large-desktop: new-breakpoint(min-width 1200px 12);
$mobile-landscape: new-breakpoint(max-device-width 736px orientation landscape);
$small-height: new-breakpoint(max-height 600px orientation landscape);