// Adding a Visual Grid while you develop. Set to 'true.'
$visual-grid: false;
$visual-grid-color: #CCCCCC;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Change the grid settings
$column: 80.3px;
$gutter: 36px;
$grid-columns: 12;
/* Variables */
$max-width: 955px;
