/**
 * Apply a natural box layout model to all elements, but allowing components to change
 * @source https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main-container,
.modules-container {
  padding-top: 70px;

  @include media($desktop) {
    padding-top: 122px;
  }
}

.default-page-container {
  .o__copy-block-text {
    padding-bottom: 100px;
  }
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 22px;

  &--no-padding {
    padding: 0;

    @include media($tablet) {
      padding: 0 22px;
    }

    @include media($desktop) {
      padding: 0;
    }        
  }

  &--padding-mobile {
    padding: 0 22px;

    @include media($desktop) {
      padding: 0;
    }
  }

  &--no-padding-tablet {
    @include media($tablet) {
      padding: 0;
    }
  }  
}

.no-scroll {
  overflow-y: hidden;
}

/* 
 * Flex Grid used on Team module and Transactions module.
 * It aligns to the center the cards.
 * And ensures the cards don't look too separated.
 */
@mixin grid-cards() {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;

  @include media($tablet) {
    max-width: 650px;
  }

  @include media($desktop) {
    justify-content: center;
    max-width: 792px;
  }
}

@mixin grid-card-element() {
  display: flex;
  flex-direction: column;
  
  @include media($desktop) {
    margin-right: 18px;
  }

  &:nth-child(3n+0),
  &:last-child {
    @include media($desktop) {
      margin-right: 0;
    }
  }    
}

/* 
 * Flex Grid used on Media module and Insights module.
 * It aligns to the left the boxes on the last row.
 * And ensures the boxes don't look too separated.
 */
@mixin grid-boxes() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;  
  max-width: 500px;
  opacity: 1;  

  @include media($grid_media_1_col) {
    justify-content: flex-start;
    max-width: 568px;
  }  

  @include media($tablet) {
    max-width: 610px;
  }

  @include media($desktop) {
    max-width: 951px;
  }
}

@mixin grid-box-element() {
  display: flex;
  flex-direction: column;
  
  @include media($grid_media_1_col) {
    margin-right: 30px;
  }  

  @include media($tablet) {
    margin-right: 72px;
  }

  &:nth-child(2n+0),
  &:last-child {
    @include media($mobile_l) {
      margin-right: 0;
    }    

    @include media($desktop) {
      margin-right: 72px;
    }
  }    

  &:nth-child(3n+0),
  &:last-child {
    @include media($desktop) {
      margin-right: 0;
    }
  }    
}
