.owl-dot {
  display: inline-block;
  margin: 0 8px;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;

  &.active {
    opacity: 1;
  }
}

.owl-stage-outer {
  transform-style: preserve-3d;
}