.o__history-timeline {
  padding-top: 39px;
  padding-bottom: 70px;

  @include media($tablet) {
    padding-top: 0;
    padding-bottom: 100px;
  }

  &-subcontainer {
    padding-top: 45px;
  }

  &-timeline {
    margin-top: 55px;

    @include media($tablet) {
      margin-left: 20px;
      margin-top: 80px;
    }

    @include media($desktop) {
      max-width: 673px;
      margin-left: 146px;
    }
  }

  &-years {
    display: none;
    margin-top: 83px;
    margin-right: auto;
    max-width: 793px;
    white-space: nowrap;
    overflow: hidden;

    @include media($desktop) {
      display: block;
    }    

    @include media($desktop) {
      margin-left: 80px;
    }

    &-subcontainer {
      transition: transform 0.55s ease-out;
    }
  }

  &-year {
    display: inline-block;
    position: relative;
    margin-right: 76px;

    &::after {
      position: absolute;
      bottom: 4px;
      margin-left: 23px; 
      width: 117px;
      height: 2px;
      content: '';
      background: $_navy-light;
      z-index: -1;
    }

    &:last-child {
      &::after {
        width: 0;
      }
    }

    &.active {
      margin-right: 65px;

      &::after {
        margin-left: 44px;
        bottom: 9px;
      }

      .o__history-timeline-year-text {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.42;
        color: $_light-gray;
      }

      .o__history-timeline-year-point {
        margin-top: 30px;
        width: 24px;
        height: 24px;        
        background-color: $_history_timeline_bg_white;

        &::before {
          display: block;
          position: relative;
          left: 7px;
          top: 7px;
          width: 10px;
          height: 10px; 
          border-radius: 50%;           
          content: '';
          background-color: $_history_timeline_point;
        }
      }
    }

    &-text {
      font-family: $font;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      letter-spacing: 0.5px;
      text-align: center;
      color: $_light-gray2;      
    }

    &-point {
      display: block;
      margin-top: 43px;
      margin-left: auto;
      margin-right: auto;
      width: 10px;
      height: 10px;
      background-color: $_navy-light;
      border-radius: 50%;
    }
  }

  &-mobile-nav {
    margin-top: 9px;
    font-family: $font_secondary;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.2px;
    text-align: center;
    color: $_history_timeline_bg_white;

    @include media($desktop) {
      display: none;
    }
  }

  &--blue {
    background-color: $_history_timeline_bg_blue;
  }

  &--gray,
  &--white {
    background-color: $_history_timeline_bg_gray;

    .m__history-timeline-entry-year,
    .m__history-timeline-entry-title,
    .m__history-timeline-entry-content-description,
    .o__history-timeline-year-text {
      @include media($desktop) {
        color: $_history_timeline_bg_blue;
      }
    }

    .o__history-timeline-year.active {
      .o__history-timeline-year-text {
        @include media($desktop) {
          color: $_history_timeline_bg_blue;
        }
      }
    }

    .o__history-timeline-mobile-nav {
      color: $_history_timeline_bg_blue;
    }
  }

  &--white {
    background-color: $_history_timeline_bg_white;

    .o__history-timeline-year.active {
      .o__history-timeline-year-point {
        @include media($desktop) {
          background-color: $_history_timeline_bg_blue;
        }
      }
    }    
  }

  .m__content {
    text-align: center;
  }

  .m__content-content {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 665px;
    letter-spacing: 0.6px;

    @include media($desktop) {
      padding-left: 0;
      padding-right: 0;      
    }
  }

  &-slider-nav-icon {
    svg {
      display: none;
    }
  }

  .owl-stage {
    display: flex;
  }

  .owl-item {
    display: flex;
    backface-visibility: visible;
  }

  .owl-prev,
  .owl-next {
    display: none;
    position: absolute;
    top: 30%;

    @include media($desktop) {
      display: block;
    }

    svg {
      width: 12px;
      height: 22px;
    }

    &.disabled {
      opacity: 0.3;
    }
  }

  .owl-prev {
    transform: rotate(180deg);
    left: -83px;
  }

  .owl-next {
    right: -83px;
  }  
}