@mixin btn() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10.5px 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: $font_secondary;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.8px;
  min-width: 145px;  
}

@mixin btn--secondary() {
  color: $button_secondary;
  background-color: transparent;
  border: solid 2px $button_secondary;
  border-radius: 7px;

  &:hover {
    color: $button_secondary_txt_hover;
    border-color: $button_secondary_hover;
    background-color: $button_secondary_hover;
  }

  &:active, &:focus {
    color: $button_secondary_txt_hover;
    border-color: $button_secondary_hover;
    background-color: $button_secondary_hover;
  }

  &[disabled] {
    color: $button_secondary_disabled;
    border-color: $button_secondary_disabled;

    &:hover {
      background-color: $_white;
    }
  }
}

.a__btn {
  @include btn();

  &[disabled] {
    cursor: not-allowed;
  }

  &__primary {
    color: $button_primary_text;
    background-color: $button_primary_bg;
    border: solid 2px $button_primary_text;
    border-radius: 7px;

    &:hover {
      color: $button_primary_text_hover;
      background-color: $button_primary_bg_hover;
    }

    &:active, &:focus {
      color: $button_primary_text_active;
      background-color: $button_primary_bg_active;
    }

    &[disabled] {
      color: $button_primary_text_disabled;
      background-color: $button_primary_bg_disabled;
    }
  }

  &__secondary {
    @include btn--secondary();
  }

  &__tertiary {
    color: $button_tertiary_text;
    border: solid 2px $button_tertiary_text;
    border-radius: 7px;

    &:hover {
      color: $button_tertiary_text;
      background-color: $button_tertiary_hover;
    }

    &:active, &:focus {
      color: $button_tertiary_text;
      background-color: $button_tertiary_active;
    }

    &[disabled] {
      color: $button_tertiary_disabled;
      border-color: $button_tertiary_disabled;
      background-color: inherit;
    }
  }

  &__text {
    color: $button_text;
    font-weight: bold;

    &:hover {
      color: $button_text_hover;
    }

    &:active, &:focus {
      color: $button_text_active;
    }

    &[disabled] {
      color: $button_text_disabled;
      cursor: not-allowed;
    }
  }

  &__file {
    position: relative;

    &:hover {
      .a__file-icon-svg-normal {
        display: none;
      }

      .a__file-icon-svg-hover {
        display: inline-block;
      }
    }    

    &-icon {
      margin-left: 10px;
    }
  }

  .a__file-icon {
    position: absolute;
    right: 7px;
    top: 2px;
  }

  &__search {
    padding: 10px 10px 8px 10px;
    position: relative;
    border: none;
    background: transparent;
    min-width: 17px;

    &:hover {
      .a__search-icon-svg-normal {
        display: none;
      }

      .a__search-icon-svg-hover {
        display: inline-block;
      }
    }        
  }

  &-wrapper {
    text-align: center;
  }

  &__back {
    display: flex;
    align-items: center;
    font-family: $font_secondary;
    font-size: 12px;
    letter-spacing: 0.8px;
    color: $_brand_secondary;
    text-transform: uppercase;
    border: none;
    background: transparent;    

    &-svg {
      margin-right: 10px;
      width: 12px;
      height: 22px;
      transform: rotate(180deg);
    }
  }

  &__back-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 50px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    border: none;
    background: transparent;
    transition: opacity .6s, visibility .6s;
    outline: none;

    &.active {
      visibility: visible;
      opacity: 1;
    } 

    @include media($large-desktop) {
      right: 10%;
    }

    &-svg {
      width: 50px;
      height: 50px;
    }
  }  
}
