.o__facts-figures {
  padding-top: 40px;
  padding-bottom: 100px;

  @include media($tablet) {
    padding-top: 68px;
  }

  &-title {
    margin: 0;
    padding: 15px 0 24px 0;
    font-family: $font;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.0;
    letter-spacing: 0.8px;
    text-align: center;
    background-color: $_facts_figures_title_bg;
    color: $_facts_figures_title;

    @include media($tablet) {
      padding: 18px 0;
      font-size: 50px;
    }
  }

  &-boxes {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 30px 10px 30px;
    width: 100%;
    background-color: $_facts_figures_boxes_bg;

    @include media($mobile_m) {
      padding: 40px 60px 10px 60px;
    }

    @include media($tablet) {
      padding: 50px 150px;
    }

    @include media($desktop) {
      padding: 50px 63px;
    }
  }

  &--blue {
    background-color: $_facts_figures_bg_blue;    
  }

  &--white {
    background-color: $_facts_figures_bg_white;

    .o__facts-figures-boxes {
      border-bottom: 1px solid $_buttons_row_bg_gray;
      border-left: 1px solid $_buttons_row_bg_gray;
      border-right: 1px solid $_buttons_row_bg_gray;
    }    
  }

  &--gray {
    background-color: $_facts_figures_bg_gray;    
  }
}